/*Navbar*/

.navbar-custom {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.zinzen-logo-nav-theme-choice {
  width: 4%;
}

.zinzen-text-logo-nav-theme-choice {
  margin: 0.7em 0em 1.2em 1em;
  margin-left: 40%;
  width: 10%;
}
.nav-link-theme-page {
  color: #000000 !important;
  font-size: 1.2em;
  margin: 0em 3.2em 0em 1.5em;
}

.nav-link-theme-page:hover {
  font-size: 1.25em;
  color: #3b6899 !important;
}

/*Theme Choice Page*/

.theme-choice-panel-font {
  color: #ac3b61;
  font-weight: bolder;
  margin-top: 5%;
  font-size: 1.2rem;
  padding-left: 5%;
}

.themechoice {
  width: 102%;
}

.themerow {
  display: flex;
  align-items: center;
}

.theme-choice-btn {
  background-color: #f0e6e1;
  border: none !important;
  width: 50%;
}

.theme-choice-btn:hover {
  background-color: #f0e6e1;
  border: none !important;
  padding: 5px 10px;
}

/*Media Query for Mobile View*/

@media (max-width: 600px) {
  /*Navbar*/

  .nav-collapse {
    margin-bottom: 1em;
  }

  .zinzen-logo-nav-theme-choice {
    width: 10%;
    visibility: visible;
  }

  .zinzen-text-logo-nav-theme-choice {
    margin-right: 10em;
    margin-left: 10%;
    width: 25%;
    visibility: visible;
  }

  /*User Choice Panel*/
  .themerow {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .theme-choice-btn {
    background-color: #f0e6e1;
    border: none !important;
    width: 100%;
  }

  .theme-choice-btn:hover {
    background-color: #f0e6e1;
    border: none !important;
    padding: 5px 10px;
  }
}
