
.myGoals-font-light{
    padding: 0em 1em 0em 0.8em;
    margin-left: 0.5em;
    font-style: normal;
    font-weight: bolder;
}

.myGoals-font-dark{
    color:#cecece;
    padding: 0em 1em 0em 0.8em;
    margin-left: 00.5em;
    font-style: normal;
    font-weight: bolder;
}


.addTaskDark {
    background-color:#5f3636;
    color: #cecece;
    display: flex;
    border: none;
    border-radius: 0.5em;
    font-weight: bolder !important;
    font-size: 1.0rem !important;
    width: 95% !important;
    margin-left: 0.5em;
    margin-top: 0.5em !important;
    text-align: left !important;
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
    padding-left: 0.5em;
}

.addTaskLight {
    background-color:#e9b17a;
    display: flex;
    border: none;
    border-radius:0.5em;
    font-weight: bolder !important;
    font-size: 1.0rem !important;
    width: 95% !important;
    margin-left: 0.5em;
    margin-top: 0.5em !important;
    text-align: left !important;
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
    padding-left: 0.5em;
}


.addTaskDark-time {
    background-color:#5f3636;
    color: #cecece;
    display: flex;
    border: none;
    border-radius: 0.5em;
    font-weight: bolder !important;
    font-size: 1.0rem !important;
    width: 50% !important;
    margin-left: 0.5em;
    margin-top: 1em !important;
    text-align: left !important;
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
    padding-left: 0.5em;
}

.addTaskLight-time {
    background-color:#e9b17a;
    display: flex;
    border: none;
    border-radius:0.5em;
    font-weight: bolder !important;
    font-size: 1.0rem !important;
    width: 50% !important;
    margin-left: 0.5em;
    margin-top: 1em !important;
    text-align: left !important;
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
    padding-left: 0.5em;
}

.myGoalsButton-Dark{
    right: 0.8em;
    position: fixed;
    display: flex;
   bottom: 0.8em;

}

.myGoalsButton-Light{
    right: 0.8em;
    position: fixed;
   display: block;
   bottom: 0.8em;
}