
.myGoals-font-light{
    padding: 0em 1em 0em 0.8em;
    margin-left: 0.5em;
    font-style: italic;
    font-weight: bolder;
}

.myGoals-font-dark{
    color:#cecece;
    padding: 0em 1em 0em 0.8em;
    font-style: italic;
    font-weight: bolder;
}


.addTaskDark {
    border-color: #ffffff;
    color: #000000;
    font-weight: bolder !important;
    font-size: 1.8rem !important;
    width: 75% !important;
    margin-left: 3.7em;
    margin-top: 3em !important;
    margin-bottom: 1.2em;
    text-align: left !important;
    border-radius: 10px 10px !important;
    padding-top: 0.6em !important;
    padding-bottom: 0.6em !important;
}

.addTaskLight {
    border-color: #ffffff;
    color: #ffffff !important;
    font-weight: bolder !important;
    font-size: 1.8rem !important;
    width: 75% !important;
    margin-left: 3.7em;
    margin-top: 3em !important;
    margin-bottom: 1.2em;
    text-align: left !important;
    border-radius: 10px !important;
    padding-top: 0.6em !important;
    padding-bottom: 0.6em !important;
}