
.myGoals-font-light{
    padding: 0em 1em 0em 0.8em;
    margin-left: 0.5em;
    font-style: italic;
    font-weight: bolder;
}

.myGoals-font-dark{
    color:#cecece;
    padding: 0em 1em 0em 0.8em;
    margin-left: 00.5em;
    font-style: italic;
    font-weight: bolder;
}


.addTaskDark {
    font-weight: bolder !important;
    font-size: 1.8rem !important;
    width: 75% !important;
    margin-left: 0.5em;
    margin-top: 0em !important;
    text-align: left !important;
    border-radius: 10em 10em !important;
    padding-top: 0.1em !important;
    padding-bottom: 0.5em !important;
}

.addTaskLight {
    font-weight: bolder !important;
    font-size: 1.8rem !important;
    width: 75% !important;
    margin-left: 0.5em;
    margin-top: 0em !important;
    text-align: left !important;
    border-radius: 10px 10px !important;
    padding-top: 0.1em !important;
    padding-bottom: 0.5em !important;
}