.show-feelings {
  &__list-category {
    margin-top: 30px;
  }
}

#myFeelings-title, #myFeelings-title-dark {
  font-size: 1.5em;
  font-weight: 700;
  font-style: italic;
  padding-left: 20px;
  padding-top: 100px;
}

.feelings-date, .feelings-date-dark {
  font-size: 1.286em;
  font-weight: 700;
  font-style: italic;
  padding-left: 20px;
}

.feelingOfDay, .feelingOfDay-dark {
  display: flex;
  justify-content: space-between;
  padding: 18px 21px;
  width: 100%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #303030;
  .feelingOfDay-name {
    font-size: 1.286em;
    font-weight: 700;
  }
  .feelingOfDaty-options {
    display: flex;
    align-self: center;
    gap: 20px;
    height: 25px;
    img {
      margin-left: 10px;
    }
  }
}

.feelingOfDay-dark {
  background: var(--secondary-background);
  border-bottom: 1px solid #E4E4E4;
  .feelingOfDaty-options > img {
    filter: invert(46%) sepia(94%) saturate(3349%) hue-rotate(231deg) brightness(80%) contrast(78%);
  }
}

.feelingOfDay:last-child, .feelingOfDay-dark:last-child {
  border: none;
}

.addFeeling-btn, .addFeeling-btn-dark{
  margin-left: 20px;
  border-radius: 50%;
  border: none;
  width: 50px;
  height: 50px;
  margin-top: 1rem;
}

.notes-modal .modal-content {
}

.notes-modal-dark .modal-content {
  
  border: 3px solid #3a2a22 !important;
}


.note-modal-title {
  &-dark {
    font-style: italic;
  }
  &-light {
    font-style: italic;
  }
}

.notes-modal-input, .notes-modal-input-dark {
  
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 8px;
  font-weight: bold;
  width: 55%;
}

.notes-modal-input-dark { 
    
}
.feelingsModal-btn, .feelingsModal-btn-dark {
  
  border-radius: 5px; 
  font-size: 1.286em;
  font-weight: 600;
  padding: 8px 14px;
  border: none;
}
.feelingsModal-btn-dark {
  
}

.show-feeling__note-textarea, .show-feeling__note-textarea-dark {
  
  outline: none;
  border: none;
  border-radius: 8px;
  padding: 8px;
  font-weight: bold;
}
.show-feeling__note-textarea-dark {
  
}