#backupRestoreModal {
    button {
        flex-direction: column;
        gap: 5px;
        img {
            margin: 0;
            width: 45px;
        }
        p {
            margin: 0;
        }
    }
}