#contact-list {
    border-radius: 7px 7px 0px 0px;
    background: rgba(237, 199, 183, 0.4);
    margin-left: 2%;
    margin-bottom: 3.5%;
    padding-left: 0.5em;

    hr {
        margin: 0;
    }
}

.contact-tile {
    border: none;
    border-radius: 0;
    margin-top: 0;
    background: none;
    padding: 2% 0%;
    text-align: left;
    word-break: break-all;
    display: flex;
    flex-direction: row;
    span {
        margin-left: 5%;
        align-self: center;
        font-size: 18px;
        font-weight: 600;
    }
}