.dashboard-add-btn-light1 {
  font-size: 1.4rem !important;
  width: 24% !important;
  margin-top: 3em !important;
  margin-bottom: 1.2em;
  margin-left: 0.1em;
  text-align: center !important;
  border-radius: 0 10px 10px 0px !important;
  padding-top: 0.6em !important;
  padding-bottom: 0.6em !important;
}

.dashboard-add-btn-dark1 {
  font-size: 1.4rem !important;
  width: 24% !important;
  margin-top: 3em !important;
  margin-bottom: 1.2em;
  margin-left: 0.1em;
  text-align: center !important;
  border-radius: 0 10px 10px 0px !important;
  padding-top: 0.6em !important;
  padding-bottom: 0.6em !important;
}

.dashboard-choice-light1 {
  width: 70% !important;
  height: 65px !important;
}

.dashboard-choice-dark1 {
  width: 70% !important;
  height: 65px !important;
}

.dashboard-choice-light {
  width: 70% !important;
  height: 65px !important;
}

.dashboard-choice-dark {
  width: 70% !important;
  height: 65px !important;
}

.dashboard-add-btn-light1 {
  font-size: 1.4rem !important;
  width: 25% !important;
  margin-bottom: 1.2em;
  margin-left: 0.1em;
  text-align: left !important;
  border-radius: 0 10px 10px 0px !important;
  padding-top: 0.6em !important;
  padding-bottom: 0.6em !important;
}

.add-icon {
  width: 1.6em;
}

.slide {
  padding-top: 6em;
  position: initial;
}
