/*Navbar*/

.navbar-custom {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.nav-link-dashboard-light {
  color: #000000 !important;
  font-size: 1.2em;
  margin: 0em 3.2em 0em 1.5em;
}

.nav-link-dashboard-light:hover {
  font-size: 1.25em;
  color: #3b6899 !important;
}

.nav-link-dashboard-dark {
  color: #d6d6d6 !important;
  font-size: 1.2em;
  margin: 0em 3.2em 0em 1.5em;
}

.nav-link-dashboard-dark:hover {
  font-size: 1.25em;
  color: #3b6899 !important;
}

.back-arrow-nav-dashboard{
    position: absolute;
   padding-right: 5px;
    height: 80%;
    margin-top: 2.5em;
    visibility: visible;
    cursor: pointer;
}

.zinzen-text-logo-nav-dashboard{
  margin-top: 0.25em;
    margin-left: 40%;
    width:25%;
    cursor: pointer;
}

.zinzen-logo-nav-dashboard-main{
    align-content: flex-start;
    position: absolute;
   display: flex;
    margin-top: 2.5em;
     height: 90%;
}

.dark-mode-toggle {
  margin-bottom: 1.6em;
}

/*Dashboard*/

.dashboard-choice-light1 {
  color: #000000;
  font-weight: bolder !important;
  font-size: 1.4rem !important;
  width: 75% !important;
  height: 73.5px !important;
  margin-top: 3em !important;
  margin-bottom: 1.2em;
  text-align: left !important;
  border-radius: 10px 0px 0px 10px !important;
  padding-top: 0.6em !important;
  padding-bottom: 0.6em !important;
}

.dashboard-choice-dark1 {
  color: #ffffff !important;
  font-weight: bolder !important;
  font-size: 1.4rem !important;
  width: 75% !important;
  height: 73.5px !important;
  margin-top: 3em !important;
  margin-bottom: 1.2em;
  text-align: left !important;
  border-radius: 10px 0px 0px 10px !important;
  padding-top: 0.6em !important;
  padding-bottom: 0.6em !important;
}

.dashboard-choice-light {
  color: #000000 !important;
  font-weight: bolder !important;
  font-size: 1.4rem !important;
  width: 75% !important;
  height: 73.5px !important;
  margin-bottom: 1.2em !important;
  text-align: left !important;
  border-radius: 10px 0px 0px 10px !important;
  padding-top: 0.6em !important;
  padding-bottom: 0.6em !important;
}

.dashboard-choice-dark {
  color: #ffffff !important;
  font-weight: bolder !important;
  font-size: 1.4rem !important;
  width: 75% !important;
  height: 73.5px !important;
  margin-bottom: 1.2em !important;
  text-align: left !important;
  border-radius: 10px 0px 0px 10px !important;
  padding-top: 0.6em !important;
  padding-bottom: 0.6em !important;
}

.dashboard-add-btn-light1 {
  font-size: 1.4rem !important;
  width: 24% !important;
  margin-top: 3em !important;
  margin-bottom: 1.2em;
  margin-left: 0.1em;
  text-align: center !important;
  border-radius: 0 10px 10px 0px !important;
  padding-top: 0.6em !important;
  padding-bottom: 0.6em !important;
}

.dashboard-add-btn-dark1 {
  font-size: 1.4rem !important;
  width: 24% !important;
  margin-top: 3em !important;
  margin-bottom: 1.2em;
  margin-left: 0.1em;
  text-align: center !important;
  border-radius: 0 10px 10px 0px !important;
  padding-top: 0.6em !important;
  padding-bottom: 0.6em !important;
}

.dashboard-add-btn-light {
  font-weight: bolder !important;
  font-size: 1.4rem !important;
  width: 24% !important;
  margin-bottom: 1.2em !important;
  margin-left: 0.1em;
  text-align: center !important;
  border-radius: 0 10px 10px 0px !important;
  padding-top: 0.6em !important;
  padding-bottom: 0.6em !important;
}

.dashboard-add-btn-dark {
  font-weight: bolder !important;
  font-size: 1.4rem !important;
  width: 24% !important;
  margin-bottom: 1.2em !important;
  margin-left: 0.1em;
  text-align: center !important;
  border-radius: 0 10px 10px 0px !important;
  padding-top: 0.6em !important;
  padding-bottom: 0.6em !important;
}

.add-icon {
  width: 2em;
}

.no-add {
  width: 100% !important;
  height: 73.5px !important;
  text-align: left !important;
  border-radius: 10px !important;
  margin-bottom: 1.2em !important;
  font-size: 1.4rem !important;
  font-weight: bolder !important;
  padding-top: 0.6em !important;
  padding-bottom: 0.6em !important;
}

/*Media Query for Mobile View*/

@media (max-width: 600px) {
  /*Navbar*/

  .nav-collapse {
    margin-bottom: 1em;
  }

  .zinzen-logo-nav-dashboard {
    position: absolute;
    width: 10%;
    visibility: visible;
    cursor: pointer;
    margin-left:23.5em;
    margin-bottom: 1.7em;
  }


.zinzen-text-logo-nav-dashboard{
  margin-top: 0.25em;
  margin-bottom: 2.7em;
    margin-left: 38%;
    width:25%;
    cursor: pointer;
}

   .back-arrow-nav-dashboard{
    width: 12%;
        margin-bottom: 5em;
        visibility: visible;
        cursor: pointer;
    }

  .nav-collapse-dashboard {
    margin-bottom: 2em;
  }

    .zinzen-logo-nav-dashboard-main{
        position: absolute;
        margin-bottom: 5em;
        width: 10%;
    }

    .nav-collapse-dashboard{
        margin-bottom: 2em;
    }

    .dark-mode-toggle{
      position: absolute;
      margin-top: 2.5em;
        margin-left: 86%;
        margin-bottom: 5em;
    }

  .book-icon-dashboard {
    display: none;
  }

  /*Dashboard*/
  .dashboard-choice-light1 {
    width: 70% !important;
    height: 65px !important;
  }

  .dashboard-choice-dark1 {
    width: 70% !important;
    height: 65px !important;
  }

  .dashboard-choice-light {
    width: 70% !important;
    height: 65px !important;
  }

  .dashboard-choice-dark {
    width: 70% !important;
    height: 65px !important;
  }

  .dashboard-add-btn-light1 {
    font-size: 1.4rem !important;
    width: 25% !important;
    margin-bottom: 1.2em;
    margin-left: 0.1em;
    text-align: left !important;
    border-radius: 0 10px 10px 0px !important;
    padding-top: 0.6em !important;
    padding-bottom: 0.6em !important;
  }

  .dashboard-add-btn-dark1 {
    font-size: 1.4rem !important;
    width: 25% !important;
    margin-bottom: 1.2em;
    margin-left: 0.1em;
    text-align: left !important;
    border-radius: 0 10px 10px 0px !important;
    padding-top: 0.6em !important;
    padding-bottom: 0.6em !important;
  }

  .dashboard-add-btn-light {
    font-weight: bolder !important;
    font-size: 1.4rem !important;
    width: 25% !important;
    margin-bottom: 1.2em !important;
    margin-left: 0.1em;
    text-align: left !important;
    border-radius: 0 10px 10px 0px !important;
    padding-top: 0.6em !important;
    padding-bottom: 0.6em !important;
  }

  .dashboard-add-btn-dark {
    font-weight: bolder !important;
    font-size: 1.4rem !important;
    width: 25% !important;
    margin-bottom: 1.2em !important;
    margin-left: 0.1em;
    text-align: left !important;
    border-radius: 0 10px 10px 0px !important;
    padding-top: 0.6em !important;
    padding-bottom: 0.6em !important;
  }

  .add-icon {
    width: 1.6em;
  }

  .no-add {
    width: 95% !important;
    height: 65px !important;
  }
}
