.interactables-modal {
  .ant-modal-content {
    padding: 0 !important;
    border: none !important;
    border-radius: 28px !important;
  }
  .goal-action {
    width: unset !important;
    border: none;
    border-radius: 0;
    cursor: pointer;
    background: var(--bottom-nav-color) !important;
  }

  @media screen and (max-width: 400px) {
    .goal-action {
      padding: 25px 0 !important;
    }
  }

  @media screen and (max-width: 250px) {
    .goal-action {
      p {
        font-size: 12px !important;
      }
    }
  }
  .goal-action:first-child {
    border-right: 2px solid var(--default-border-color);
    border-bottom: 2px solid var(--default-border-color);
  }
  .goal-action:nth-child(2) {
    border-bottom: 2px solid var(--default-border-color);
  }
  .goal-action:nth-child(3) {
    border-right: 2px solid var(--default-border-color);
  }

  .goal-action:last-child {
    border-top: 2px solid var(--default-border-color);
    grid-column: 1 / -1;
    border-radius: 0 0 28px 28px !important;
  }

  .goal-action-archive {
    width: unset !important;
    border: none;
    border-radius: 0 !important;
    cursor: pointer;
    background: transparent !important;
  }
  .goal-action-archive:first-child {
    border-right: 2px solid var(--default-border-color);
  }

  div {
    text-align: center;
    p {
      font-weight: 500;
      margin: 0;
      font-size: 18px;
      text-align: left;
    }
  }
  img,
  svg {
    width: 25px;
    height: 25px;
    opacity: 0.6;
  }
}

.interactables > div > p {
  color: rgb(205, 110, 81);
}

.interactables > img,
.interactables > svg,
.exceptional-img {
  font-size: 22px;
}
.goal-menu-subtext {
  font-size: 14px;
  text-align: center;
  font-weight: 500;
}
.header-title {
  background: var(--secondary-background) !important;
  border-bottom: 1px solid var(--default-border-color);
  z-index: 1;
}
