.faq-question-text-light {
  font-size: 1.2em;
  font-weight: bolder;
  padding-top: 0.5em;
}

.faq-answer-text-light {
  font-size: 0.9em;
  color: #3d3d3d;
}

.faq-question-text-dark {
  font-size: 1.2em;
  font-weight: bolder;
  padding-top: 0.5em;
  color: #f3f3f3;
}

.faq-answer-text-dark {
  font-size: 0.9em;
  color: #d6d6d6;
}

.faq-choice-light {
  width: 100% !important;
  font-weight: bolder !important;
  font-size: 1em !important;
  text-align: left !important;
  padding: 1.3em 1em 1.3em 1em !important;
  margin-bottom: 1em !important;
  margin-top: 1em !important;
  height: auto;
}

.faq-choice-dark {
  width: 100% !important;
  font-weight: bolder !important;
  font-size: 1em !important;
  text-align: left !important;
  padding: 1.3em 1em 1.3em 1em !important;
  margin-bottom: 1em !important;
  margin-top: 1em !important;
  height: auto;
}
