.goal-item-summary-wrapper {
  text-align: center;
  padding: 10px 24px;
  white-space: pre-line;
  font-size: 0.875em;
  font-weight: 300;
  cursor: pointer;
  border: none;
  background: none;
  line-height: 1.5;
  &--modal {
    padding: 0px;
    text-align: left;
  }
}
