.configModal {
  width: 400px;
  .checkbox {
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-top: 2px;
    span {
      padding-left: 0 !important;
    }
  }
  input {
    color: inherit !important;
  }
  p {
    margin: 0;
  }
  .ant-modal-content {
    padding: 0 0 24px 0 !important;
    border: none !important;
    border-radius: 28px !important;
  }
  .ant-select-selection-item {
    color: black;
  }

  .ant-slider-dot {
    display: none;
  }

  .header-title {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header-title > input {
    font-size: 1.5rem;
    font-weight: 500;
    width: 100%;
  }
  .action-btn {
    padding: 8px 18px;
    cursor: pointer;
  }

  .default-input::-webkit-inner-spin-button,
  .default-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .default-input {
    -moz-appearance: textfield;
  }
  .action-btn {
    margin-top: 0;
    padding: 10px 24px;

    &.options-btn {
      margin-left: 10px;
    }
  }
  .datepicker {
    text-align: left;
    color: #000;
    border: none;
    padding: 10px;
    border-radius: 4px;
  }
  .timepicker {
    padding: 12px;
    .ant-select-arrow {
      padding: 0 6px !important;
    }
  }
  .timepicker > .ant-select-selector,
  .datepicker {
    border: none !important;
  }
  input[type="radio"] {
    accent-color: #cd6e51 !important;
  }
  .ant-collapse-content {
    background: var(--secondary-background);
  }
  .ant-slider-track {
    background: var(--selection-color);
  }
  .ant-collapse-header-text {
    font-weight: 400 !important;
  }
}
.on_day {
  width: 30px;
  height: 30px;
  display: flex;
  cursor: pointer;
  color: #000;
  border-radius: 50%;
  align-items: center;
  place-content: center;
  background: var(--not-active);
}
.on_day.selected {
  border: none;
  color: #fff;
  background: var(--selection-color);
}
@media (max-width: 475px) {
  .date-div {
    flex-direction: column;
    justify-content: flex-start;
    gap: 0px !important;
    p {
      width: 100%;
    }
  }
}

.action-btn-container {
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-content: center;
  gap: 15px;

  .action-btn {
    flex: 1;
  }
}

.ant-switch,
.ant-switch-dark {
  margin-top: 6px;
}

.hint-toggle {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.schedule-status {
  margin-top: 8px;
  text-align: center;
}
