.configModal {
  width: 400px;
  input {
    color: inherit;
  }
  p {
    margin: 0;
  }
  .ant-modal-content {
    padding: 0 0 24px 0 !important;
    border: none !important;
    border-radius: 28px !important;
  }
  .goal-dates {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    margin: 0 !important;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.4);

    .date-div {
      display: flex;
      gap: 0.875em;
    }
    .date-div:end {
      justify-content: flex-end;
    }
    p {
      align-self: center;
      font-size: 1rem;
      font-weight: 500;
      white-space: nowrap;
    }
  }
  .goal-sent {
    padding: 14px 24px;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    font-size: 1.286em !important;
    font-weight: 500;
    text-align: center;
  }
  .header-title > input {
    font-size: 1.5rem;
    font-weight: 500;
  }
  .sent-tags {
    display: flex;
    gap: 10px;
    padding: 0 24px !important;
    justify-content: center;
  }
  .action-btn {
    padding: 8px 18px;
  }
  .default-input {
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    color: black !important;
    // padding: 4px 12px !important;
    border-radius: 4px !important;
  }
  .default-input::-webkit-inner-spin-button,
  .default-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .default-input {
    -moz-appearance: textfield;
  }
  .action-btn {
    margin-top: 0;
    padding: 10px 24px;
  }
  .datepicker {
    text-align: left;
    border: none;
    padding: 0.5em 0.5em;
    border-radius: 4px;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.25);
  }
  .dropdown {
    padding: 0;
    height: fit-content;
    max-width: 120px !important;
    text-align: center;
    list-style: none;
    background: var(--bottom-nav-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    li {
      border-radius: 6px;
      width: 94px;
      button {
        width: 100%;
        border: none;
        padding: 8px 4px;
        background: transparent;
      }
      .selected {
        background: var(--selection-color);
      }
    }
  }
  .goal-config {
    border-radius: 8px;
    margin: 0 10px;
    padding-top: 24px;

    .tag-input {
      display: flex;
      gap: 15px;
      justify-content: center;
      align-items: center;
      span {
        font-size: 14px;
      }
      img {
        width: 18px;
        height: 18px;
      }
    }
    .timings {
      box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.4);
      padding: 12px;
    }

    .config-tabs {
      div {
        border: 1px solid rgba(0, 0, 0, 0.25);
        padding: 8px 0;
        text-align: center;
        background: var(--bottom-nav-color);
      }
      div:first-child {
        border-right: 0;
      }
      .selected {
        background: var(--selection-color);
      }
    }
  }
  input[type="radio"] {
    accent-color: #cd6e51 !important;
  }
}
@media (max-width: 475px) {
  .date-div {
    flex-direction: column;
    justify-content: flex-start;
    gap: 0px !important;
    p {
      width: 100%;
    }
  }
}
