#editTagModal {
    margin: auto;
    max-width: 600px;
    min-width: 236px;
    width: 100%;
    height: 100%;
}

#editTagModal {
    .modal-content, .ant-modal-content {
      position: absolute;
      bottom: 0;
      border-radius: 0.5rem 0.5rem 0 0;
      
      .selected, .selected-dark {
        background: var(--selection-color);
      }
    }
    .modal-header { 
      gap: 10px;
      border: none;
      display: flex;
      justify-content: space-between;
      padding: 20px;
      padding-left: 12px;
      font-size: 1.429em;
      font-weight: 700;
      background: var(--selection-color);
      border-bottom: 1px solid var(--default-border-color);
      box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
      z-index: 1;

      #inputGoalField {
        background: transparent;
        border: none;
        outline: none;
        width: 100%;
        font-size: 0.8em;
      }
      
      button {
        border: none;
      }
    }

    .modal-body {
      padding: 0;
      display: flex;
    }
}

.inboxCall {
    .modal-content, .ant-modal-content {
      border-radius: 0.5rem !important;
      bottom: 50% !important;
    }
}

#tagsList {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: var(--bottom-nav-color);
}

.tagOption, .tagOption-dark {
    background: transparent;
    border: none;
    padding: 0.5em 1em;
    white-space: nowrap;
    font-weight: 600;
}

.editSection, .editSection-dark {
    padding: 1em 1em 0 1em;
    width: 100%;
    text-align: center;

    .default-input {
      max-width: 180px;
      text-align: center;
      color: black !important;
    }
    .datepicker, .dropdown, .filter > div > * {
      text-align: left;
      border: none;
      padding: 0.5em 0.5em;
      border-radius: 0.475em;
      box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.25);
    }

    .dropdown {
      max-width: 120px !important;
      text-align: center;
      margin: auto;
      max-height: 200px;
      background: var(--bottom-nav-color);
      list-style: none;
      overflow-y: scroll;
      li {
        border-radius: 0.375rem;
        padding: 0.4em;
        button {
          width: 100%;
          border: none;
          background: transparent;
        }
      }
    }
}
.editSection-dark {
    .datepicker, .dropdown, .filter > div > * {
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
    }
    .datepicker {
      color: black !important
    }    
    * {
        color: white;
    }
}

.tag-heading {
    font-size: 0.875em;
    font-weight: 700;
    text-align: center;
}

.filter {
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    
    select {
      border-right: 6px solid transparent !important;
      padding-left: 1.7em;
    }
    
    p {
      text-align: right;
      margin: 0;
    }

    .dropdown, .dropdown-dark {
      min-width: 120px;
      max-height: 160px !important;
    }
}

  .filter > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
        
    div {
      display: flex;
      justify-content: space-between;    
      width: 120px;
      svg {
        align-self: center;
      }
    }
  }

.budget {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    input {
        max-width: 60px;
    }
    p {
        margin: 0;
        align-self: center;
    }
    .dropdown, .dropdown-dark {
        border-right: 7px solid transparent !important;
        margin: unset !important;
    }
}

.form-tag {
    padding: 1% 3.5%;
    border: none;
    border-radius: 7px;
    margin-right: 2%;
    font-size: small;
    font-weight: bolder;
    margin-top: 1.5%;
    font-size: 0.575em;
    font-weight: 500;
}

#tagsContainer{
    width: 475px;
}

.hintsBtn {
    position: relative;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    
    img {
      height: 22px;
    }
    
    .loader {
      width: 40px !important;
      height: 40px !important;
      top: 0;
      left: 0 !important;
    }
}
#config-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    display: none;
}

.restricted {
    pointer-events: none;
    filter: blur(5px);
}

.popupModal-dark {
    .datepicker::-webkit-calendar-picker-indicator {
        // filter: invert(1);
    }
    .modal-header { 
        
    }
    #tagsList {
        
    }
    #editSection {
        
    }
}
.dropdown-dark {
    
    
    // li, button {
    //     color: white
    // }
}

@media (max-width: 600px) {
    #tagsContainer {
        width: 70vw;
    }
}