* {
    padding: 0;
    margin: 0;
}

body {
    overflow-y: scroll;
    overflow-x: hidden;
    overflow-wrap: break-word;
}

.mygoals-font-light {
    padding: 0em 1em 0em 0.8em;
    margin-left: 0.5em;
    font-style: normal;
    font-weight: bolder;
}

.mygoals-font-dark {
    color: #cecece;
    padding: 0em 1em 0em 0.8em;
    margin-left: 00.5em;
    font-style: normal;
    font-weight: bolder;
}

.position{
    padding-top: 5em;
    position: inherit;
}

.goalsubtext-font-dark{
    color:  #cecece;;
    margin-left: 0.5em;
    font-style: italic;
    padding-bottom: 0em;
}

.goalsubtext-font-light{
    color: #000;
    margin-left: 0.5em;
    font-style: italic;
    padding-bottom: 0em;
}

.addtask-dark {
    background-color: #5f3636;
    color: #cecece;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: none;
    border-radius: 0.5em;
    font-weight: bolder !important;
    font-size: 1.0rem !important;
    width: 95% !important;
    margin-left: 0.5em;
    margin-top: 0.5em !important;
    text-align: left !important;
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
    padding-left: 0.5em;
}

.addtask-light {
    background-color: #e9b17a;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: none;
    border-radius: 0.5em;
    font-weight: bolder !important;
    font-size: 1.0rem !important;
    width: 95% !important;
    margin-left: 0.5em;
    margin-top: 0.5em !important;
    text-align: left !important;
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
    padding-left: 0.5em;
}

.mygoalsbutton-dark {
    margin-left: 0.5em;
    padding-top: 0.5em;
    display: inline-flex;

}

.mygoalsbutton-light {
    margin-left: 0.5em;
    padding-top: 0.5em;
    display: inline-flex;
}


.input-goal{
    padding-left: 0.5em;
    width: 93%;
}

.suggestion{
    display: flex;
    font-size: small;
    padding-left: 0.2em;
    padding-right: 0.2em;
    border-radius: 2em;
    margin-top: 0.5em;
    margin-left: 1.5em;
    border: none;
}

.duration{
    display: flex;
    font-size: small;
    padding-left: 0.2em;
    padding-right: 0.2em;
    border-radius: 1.5em;
    margin-top: 0.5em;
    margin-left: 2em;
    border: none;
}


.blank{
    display: none;
}

.deletetodo-dark{
    position: inherit;
    margin-left: 96%;
    background-color: #ff00e6;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
}

.deletetodo-light{
    position: inherit;
    margin-left: 96%;
    background-color: #5b37ed;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;

}

.changeColor{
  margin-top: 1em;
   margin-left: 00.5em;
}

.color-button{
  border: none;
   padding-left: 00.5em;
   padding-right: 0.5em; ;
   border-radius: 20px;
}

.addtask-button{
    color: #5b37ed;
}