.goal-history {
  padding: 0 23px;
  background: none;
  border: none;
  width: 100%;

  .breadcrumb-container {
    padding: 24px 0px;
  }

  .goals-icon {
    margin-top: 5px;
  }

  .separator {
    &.dark-mode {
      color: rgba(255, 255, 255, 0.45);
    }
  }
}
