.goal-history {
  padding: 0 23px;

  .breadcrumb-container {
    margin: 24px 0px;
  }

  .breadcrumb-item {
    border-radius: 30px;
    padding: 0 3px 3px 3px;
    display: block;
    width: 100px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    height: 18px;
  }

  .goals-icon {
    margin-top: 5px;
  }

  .separator {
    &.dark-mode {
      color: rgba(255, 255, 255, 0.45);
    }
  }
}
