.goal-history {
  margin: 24px 0px 0px 0px;
  padding: 0px 23px 24px 23px;
  background: none;
  border: none;
  width: 100%;

  .goals-icon {
    margin-top: 5px;
  }

  .separator {
    &.dark-mode {
      color: rgba(255, 255, 255, 0.45);
    }
  }
}
