#goal-searchBar {
  background-color: rgba(237, 199, 183, 0.4);
  border: none;
  border-radius: 10px;
  color: #504e4e;
  font-size: 1.4em;
  font-family: "Montserrat";
  font-weight: bolder;
  height: 50px;
  margin-left: 2%;
  margin-bottom: 3.5%;
  padding-left: 0.5em;
}

#goal-searchBar-dark {
  background-color: rgba(237, 199, 183, 0.4);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 1.4em;
  font-family: "Montserrat";
  font-weight: bolder;
  height: 50px;
  margin-left: 2%;
  margin-bottom: 3.5%;
  padding-left: 0.5em;
}

#myGoals_title {
  margin: 2% 2% 5% 2%;
  font-family: "Montserrat";
  font-weight: bolder;
  font-size: 1.5em;
}

#myGoals_title-dark {
  color: white;
  margin: 2% 2% 5% 2%;
  font-family: "Montserrat";
  font-weight: bolder;
  font-size: 1.5em;
}

#myGoals-list {
  margin: 2% 2% 0% 2%;
  height: 418px;
  overflow-y: auto;
  height: 50%;
}
#myGoals-list::-webkit-scrollbar {
  display: none;
}

.interactables {
  display: flex;
  justify-content: space-around;
  padding-top: 1.5%;
}
.interactables > svg {
  font-size: 22px;
}

.user-goal {
  word-break: break-all;
  background-color: #edc7b7;
  border-radius: 10px;
  margin-top: 4%;
  padding: 2.5% 4%;
  text-align: left;
}

.user-goal:first-child {
  margin: 0;
}

#addGoal-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

.goal-title {
  align-items: center;
  border: none;
  background: transparent;
  color: white;
  display: flex;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.3em;
  // justify-content: space-between;
  text-align: left !important;
  width: 100%;
}

.goal-link {
  // width: 100%;
  border: none;
  background-color: transparent;
  color: white;
  font-weight: bold;
  font-size: 1em;
}
#share-modal {
  margin: 0;
}
  #share-modal > .modal-content {
    position: absolute;
    bottom: 0;
    background: rgba(253, 230, 220, 0.8);
    border-radius: 25px;
  }

#share-modal-body {
  display: flex;
  flex-direction: column;
  
}

.shareOptions-btn {
  border-radius: 10px;
  border: none;
  padding: 2% 2%;
  margin-top: 4%;
}

  .shareOptions-btn:nth-child(1) {
    background: #AC3B61;
  }
  .shareOptions-btn:nth-child(2) {
    background: #3B6899;
  }
  .shareOptions-btn:nth-child(3) {
    background: #BAB2BC;
  }

.share-Options {
  display: flex;
  justify-content: left;
}
  .share-Options > svg {
    background-color: #EDC7B7;
    border: 1px solid;
    border-radius: 50%;
    font-size: 2.5em;
  }

.shareOption-name {
  margin: 0;
  margin-left: 3%;
  padding-top: 2.5%;
  font-weight: 600;
}
.my-goals-content {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 1281px) {
  .my-goals-content {
    width: 40%;
  }
}

@media (max-width: 480px) {
  .my-goals-content {
    width: 90%;
  }
}
