.myGoals-container {
  max-width: 600px;
  min-width: 236px;
  width: 100%;
  
}
.sec-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 21px;
  button { 
    background-color: transparent;
    border: none;
  }
  .activeTab { 
    text-decoration: underline;
    opacity: 1;
  }
}
#goal-searchBar, #goal-searchBar-dark {
  background-color: rgba(255, 255, 255, 0.4);
  border: none;
  border-radius: 7px;
  color: black;
  font-size: 1.4em;
  font-family: "Montserrat";
  font-weight: bolder;
  height: 47px;
  margin-bottom: 3.5%;
  margin: 5px 13px 13px 13px;
  padding: 0 18px;
}

#goal-searchBar-dark {
  background-color: rgba(112, 112, 112, 0.6);;
  color: white;
}

.myGoals_title, .myGoals_title-dark {
  margin: 18px 18px 5% 18px;
  font-family: "Montserrat";
  font-weight: bolder;
  font-size: 1.429em;
  opacity: 0.6;
}

.myGoals_title-dark {
  color: white;
}

#myGoals-list {
  margin: 18px 18px 0% 18px;
  height: 418px;
  overflow-y: auto;
  height: 50%;
}
#myGoals-list::-webkit-scrollbar {
  display: none;
}

.interactables, .interactables-dark {
  display: flex;
  justify-content: space-evenly;
  padding-top: 15px;
  padding-bottom: 2.5%;
}
.interactables > img {
  font-size: 22px;
  filter: invert(68%) sepia(40%) saturate(4205%) hue-rotate(325deg) brightness(87%) contrast(82%);

}
.interactables-dark > img{
  filter: invert(46%) sepia(94%) saturate(3349%) hue-rotate(231deg) brightness(80%) contrast(78%);
}

.user-goal, .user-goal-dark {
  word-break: break-all;
  background: rgba(246, 246, 246, 0.4);
  margin-top: 4%;
  min-height: 61.19px;
  text-align: left;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 100%;
  .user-goal-main {
    display: flex;
    height: 100%;
    width: 91%;
    padding: 15px 4% 15px 50px;
  }
  .contact-button {
    align-self: center;
    color: inherit;
    display: flex;
    align-items: center;
    position: absolute;
    top: 18px;
    right: 28px;
    .contact-icon {
      width: 25px;
      height: 25px;
      font-size: 1em;
    }
  }
}
.user-goal-dark {
  background: rgba(57, 57, 57, 0.4);
  color: white;
}

  .user-goal:first-child, .user-goal-dark:first-child {
    margin: 0;
  }
  .goal-dd-inner, .goal-dd-outer {
    width: 55px;
    height: 92%;
    border-radius: 57px;
    position: absolute;
    left: -37px;
    top: 1px;
  }
  .goal-dd-inner {
    width: 55px;
    top: 6px;
    height: 96%;
  }
  .goal-dd-outer {  
    border: 1.4px solid;
    width: 61px;
    top: 0.5px;
    height: 100%;
    background: transparent;
  }

#addGoal-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

.goal-title {
  align-items: center;
  border: none;
  background: transparent;
  display: flex;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.3em;
  // justify-content: space-between;
  text-align: left !important;
  width: 100%;
}

.goal-link {
  // width: 100%;
  border: none;
  background-color: transparent;
  font-weight: bold;
  font-size: 1em;
}

.my-goals-content {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;  
}

.goal-dropdown {
  align-self: center;
  padding-left: 2%;
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  width: 38px;
}

#addGoalForm{
  .mygoalsbutton-dark, .mygoalsbutton-light {
    display: none;
  }  

  .todo-form {
    margin-bottom: 24px !important;
  }

  .addtask-light , .addtask-dark {   
    margin: 0 !important;
    padding: 3% 4% !important;
    width: 100% !important;
    outline: none;
  }
}

#updateGoalForm {
  .mygoalsbutton-dark, .mygoalsbutton-light {
    display: none;
  }  

  .todo-form {
    margin-bottom: 24px !important;
  }

  .addtask-light , .addtask-dark {   
    margin: 10px 0px 0px 0px !important;
    padding: 3% 4% !important;
    width: 100% !important;
    outline: none;
  }
}

