.myGoals-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 21px;
  .back {
    width: unset;
    margin-left: 7%;
  }
  button {
    border: none;
  }
  .activeTab {
    text-decoration: underline;
    opacity: 1;
  }
}

.myGoals_title,
.myGoals_title-dark {
  margin: 7px 18px 0 18px;
  font-family: "Montserrat";
  font-weight: bolder;
  font-size: 1.429em;
  opacity: 0.6;
}

#myGoals-list {
  margin: 18px 18px 0% 18px;
  height: 418px;
  overflow-y: auto;
  height: 50%;
}
#myGoals-list::-webkit-scrollbar {
  display: none;
}

.user-goal,
.user-goal-dark {
  position: relative;
  word-break: break-all;
  text-align: left;
  cursor: pointer;
  width: 100%;
  border-bottom: 1px solid var(--default-border-color);
  background: transparent;
  .user-goal-main {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 20px 0;
    gap: 16px;
  }
  .contact-button {
    position: absolute;
    right: 28px;
    top: 23px;
    .contact-icon {
      border: none;
      border-radius: 50%;
      width: 24px;
      height: 24px;
      font-size: 1em;
    }
  }
}

.goal-dropdown {
  position: relative;
  margin-top: 2px;
}

.goal-dd-inner {
  width: 24px;
  height: 24px;
  margin-top: 2.7px;
  margin-left: 2.7px;
  border-radius: 50%;
}
.goal-dd-outer {
  position: absolute;
  top: 0;
  left: 0;
  width: 27px;
  height: 27px;
  border: solid;
  border-width: 1.4px;
  border-radius: 50%;
}

#addGoal-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

.goal-tile {
  align-items: center;
  border: none;
  display: flex;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.143em;
  width: 100%;
  text-align: left !important;
  max-width: unset;
  overflow: hidden;
}
.goal-title {
  white-space: nowrap;
  overflow-x: scroll;
  scrollbar-width: none;
}
.goal-title::-webkit-scrollbar {
  display: none;
}

.goal-desc {
  white-space: pre-line;
  font-size: 0.875em;
  font-weight: 300;
  margin-top: 7px !important;
}

.goal-link {
  // width: 100%;
  border: none;

  font-weight: bold;
  font-size: 1em;
}

.my-goals-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

#addGoalForm {
  .mygoalsbutton-dark,
  .mygoalsbutton-light {
    display: none;
  }

  .todo-form {
    margin-bottom: 24px !important;
  }

  .addtask-light,
  .addtask-dark {
    margin: 0 !important;
    padding: 3% 4% !important;
    width: 100% !important;
    outline: none;
  }
}

#updateGoalForm {
  .mygoalsbutton-dark,
  .mygoalsbutton-light {
    display: none;
  }

  .todo-form {
    margin-bottom: 24px !important;
  }

  .addtask-light,
  .addtask-dark {
    margin: 10px 0px 0px 0px !important;
    padding: 3% 4% !important;
    width: 100% !important;
    outline: none;
  }
}

#Notifications-accordion {
  margin-top: 0 !important;
}
.notification-item {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: unset;
  p {
    margin: 0;
  }
  button {
    margin: 0;
    place-self: initial;
    padding: 8px 12px;
    font-size: 0.875em;
  }
}

.archived-drawer {
  margin-top: 32px;
  .ant-collapse-header,
  .ant-collapse-item,
  .ant-collapse-content {
    border: none !important;
  }
  .ant-collapse-content {
    background: transparent;
  }
  .ant-collapse-content-box {
    padding: 0 !important;
  }
  .ant-collapse-header {
    padding: 0 16 !important;
  }
}
