.sec-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 21px;
  .back { 
    width: unset;
    margin-left: 7%;
  }
  button { 
    
    border: none;
  }
  .activeTab { 
    text-decoration: underline;
    opacity: 1;
  }
}
#goal-searchBar, #goal-searchBar-dark {
  
  border: none;
  border-radius: 7px;
  
  font-size: 1.4em;
  font-family: "Montserrat";
  font-weight: bolder;
  height: 47px;
  margin: 5px 0 13px 7%;
  padding: 0 18px;
  width: 90%;
}

#goal-searchBar-dark {
  
  
}

.myGoals_title, .myGoals_title-dark {
  margin: 7px 18px 0 18px;
  font-family: "Montserrat";
  font-weight: bolder;
  font-size: 1.429em;
  opacity: 0.6;
}

.myGoals_title-dark {
  
}

#myGoals-list {
  margin: 18px 18px 0% 18px;
  height: 418px;
  overflow-y: auto;
  height: 50%;
}
#myGoals-list::-webkit-scrollbar {
  display: none;
}

.interactables, .interactables-dark {
  display: flex;
  padding-top: 15px;
  padding-bottom: 1.25%;
  justify-content: space-evenly;
  div {
    text-align: center;
    p { 
      font-weight: 500;
      margin: 0;
      font-size: 0.875em;
    }
  }
  img { 
    width: 20px;
    height: 20px;
  }
}

.interactables > div > p {
  color: rgb(205, 110, 81)
}

.interactables-dark > div > p {
  color: rgb(112, 91, 188);
}

.interactables > img, .exceptional-img {
  font-size: 22px;
}

.user-goal, .user-goal-dark {
  word-break: break-all;
  padding: 10px 0;
  min-height: 61.19px;
  text-align: left;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1.5px solid var(--default-border-color);
  background: var(--secondary-background);
  .user-goal-main {
    
    border: none;
    
    display: flex;
    height: 100%;
    width: 100%;
    padding: 15px 4% 15px 50px;
  }
  .contact-button {
    align-self: center;
    
    display: flex;
    align-items: center;
    position: absolute;
    top: 18px;
    right: 28px;
    .contact-icon {
      width: 25px;
      height: 25px;
      font-size: 1em;
    }
  }
}
.user-goal-dark {
  border: none;
}

  .user-goal:first-child, .user-goal-dark:first-child {
    margin: 0;
  }
  .goal-dd-inner, .goal-dd-outer {
    width: 55px;
    height: 92%;
    border-radius: 57px;
    position: absolute;
    left: -37px;
    top: 1px;
  }
  .goal-dd-inner {
    width: 55px;
    top: 15px;
    height: 96%;
  }
  .goal-dd-outer {  
    border: 1.4px solid;
    width: 61px;
    top: 0.5px;
    height: 100%;
    
  }

#addGoal-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

.goal-title {
  align-items: center;
  border: none;
  
  display: flex;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.3em;
  text-align: left !important;
  max-width: unset;
  white-space: nowrap;
  overflow: scroll;

  -ms-overflow-style: none;  
  scrollbar-width: none;
}
.goal-title::-webkit-scrollbar {
  display: none;
}

.goal-link {
  // width: 100%;
  border: none;
  
  font-weight: bold;
  font-size: 1em;
}

.my-goals-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;  
}

.goal-dropdown {
  align-self: center;
  padding-left: 2%;
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  width: 38px;
}

#addGoalForm{
  .mygoalsbutton-dark, .mygoalsbutton-light {
    display: none;
  }  

  .todo-form {
    margin-bottom: 24px !important;
  }

  .addtask-light , .addtask-dark {   
    margin: 0 !important;
    padding: 3% 4% !important;
    width: 100% !important;
    outline: none;
  }
}

#updateGoalForm {
  .mygoalsbutton-dark, .mygoalsbutton-light {
    display: none;
  }  

  .todo-form {
    margin-bottom: 24px !important;
  }

  .addtask-light , .addtask-dark {   
    margin: 10px 0px 0px 0px !important;
    padding: 3% 4% !important;
    width: 100% !important;
    outline: none;
  }
}

#Notifications-accordion {
  margin-top: 0 !important;
}
.notification-item {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  p {
    margin: 0;
  }
  button {
    margin: 0;
    place-self: initial;
    padding: 8px 12px;
    font-size: 0.875em;
  }
}
