.myGoals-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 21px;
  .back {
    width: unset;
    margin-left: 7%;
  }
  button {
    border: none;
  }
  .activeTab {
    text-decoration: underline;
    opacity: 1;
  }
}

.myGoals_title,
.myGoals_title-dark {
  margin: 7px 18px 0 18px;
  font-family: "Montserrat";
  font-weight: bolder;
  font-size: 1.429em;
  opacity: 0.6;
}

#myGoals-list {
  margin: 18px 18px 0% 18px;
  height: 418px;
  overflow-y: auto;
  height: 50%;
}
#myGoals-list::-webkit-scrollbar {
  display: none;
}

.user-goal,
.user-goal-dark {
  position: relative;
  word-break: break-all;
  text-align: left;
  cursor: pointer;
  width: 100%;
  background: transparent;
  .user-goal-main {
    display: flex;
    height: 100%;
    gap: 16px;
    align-items: center;
    margin-left: 20px;
  }
  .contact-button {
    position: absolute;
    right: 28px;
    top: 23px;
    .contact-icon {
      border: none;
      border-radius: 50%;
      width: 24px;
      height: 24px;

      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.pps-icon > svg {
  width: 16px;
  height: 16px;
}

.goal-dropdown,
.goal-dd-inner,
.goal-dd-outer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.goal-dd-inner,
.goal-dd-outer {
  border-radius: 22px;
  width: 28px;
  height: 28px;
}

.goal-dd-inner {
  width: 16px;
  height: 16px;
  border-radius: 22px;
  border: 1px solid;
}

.goal-menu-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding-top: 5px;
}

.goal-menu-dots span {
  width: 3.5px;
  height: 3.5px;
  border-radius: 50%;
  background-color: white;
  display: inline-block;
}

#addGoal-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}

.goal-tile {
  border: none;
  display: flex;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 18px;
  width: 100%;
  text-align: left !important;
  max-width: unset;
  overflow: hidden;
  padding: 20px 0;
  flex-direction: column;
  justify-content: flex-start;
  gap: 6px;
}

.goal-title {
  white-space: nowrap;
  overflow-x: scroll;
  scrollbar-width: none;
  line-height: 31px;
}
.goal-title::-webkit-scrollbar {
  display: none;
}

.goal-desc {
  white-space: pre-line;
  font-size: 0.875em;
  font-weight: 300;
}

.goal-glow {
  animation: glowAnimation 2s infinite;
}

@keyframes glowAnimation {
  0% {
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.7), 0 0 10px rgba(0, 255, 0, 0.7), 0 0 5px rgba(0, 0, 255, 0.7);
  }
  50% {
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.9), 0 0 20px rgba(0, 255, 0, 0.9), 0 0 10px rgba(0, 0, 255, 0.9);
  }
  100% {
    box-shadow: 0 0 5px rgba(255, 0, 0, 0.7), 0 0 10px rgba(0, 255, 0, 0.7), 0 0 5px rgba(0, 0, 255, 0.7);
  }
}

.goal-link {
  // width: 100%;
  border: none;

  font-weight: bold;
  font-size: 1em;
}

.my-goals-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

#addGoalForm {
  .mygoalsbutton-dark,
  .mygoalsbutton-light {
    display: none;
  }

  .todo-form {
    margin-bottom: 24px !important;
  }

  .addtask-light,
  .addtask-dark {
    margin: 0 !important;
    padding: 3% 4% !important;
    width: 100% !important;
    outline: none;
  }
}

#updateGoalForm {
  .mygoalsbutton-dark,
  .mygoalsbutton-light {
    display: none;
  }

  .todo-form {
    margin-bottom: 24px !important;
  }

  .addtask-light,
  .addtask-dark {
    margin: 10px 0px 0px 0px !important;
    padding: 3% 4% !important;
    width: 100% !important;
    outline: none;
  }
}

#Notifications-accordion {
  margin-top: 0 !important;
}
.notification-item {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: unset;
  p {
    margin: 0;
  }
  button {
    margin: 0;
    place-self: initial;
    padding: 8px 12px;
    font-size: 0.875em;
  }
}

.archived-drawer {
  margin-top: 32px;
  .ant-collapse-header,
  .ant-collapse-item,
  .ant-collapse-content {
    border: none !important;
  }
  .ant-collapse-content {
    background: transparent;
  }
  .ant-collapse-content-box {
    padding: 0 !important;
  }
  .ant-collapse-header {
    padding: 0 16 !important;
  }
}
