
#addGoal-options, #addGoal-options-dark {
    z-index: 10;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: -8px;
    right: 25px;
  
    .addGoal-option {   
      margin-top: 25%;
      background: white;
      border: none;
      z-index: 11;
      position: relative;
      font-size: 17px;
      padding: 6px 60px 6px 14px;
      border-radius: 8px;
      font-weight: 700;
      text-align: center;
  
      button {
        width: 45px;
        height: 45px;
        position: absolute;
        top: -4px;
        right: -7px;
        border: none;
        border-radius: 50%;
        background: radial-gradient(50% 50% at 50% 50%, #FEF2EF 72.51%, #CD6E51 100%);
      }
    }
}

#addGoal-options-dark {
  .addGoal-option {
    button {
      background: radial-gradient(50% 50% at 50% 50%, #121212 72.51%, #705BBC 100%);
      img {
        filter: invert(46%) sepia(94%) saturate(3349%) hue-rotate(231deg) brightness(80%) contrast(78%)
      }
    }
  }
}
  
@media (min-width: 600px) {
  #addGoal-options, #addGoal-options-dark {
    right: calc((100% - 587px) / 2);
  }
}