.move-info-container {
  padding: 24px;

  .move-info-item {
    .move-info-label {
      color: var(--text-secondary);
    }

    .move-info-value {
      color: var(--text-primary);
      padding: 12px 16px;
    }
  }

  .move-direction-container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 16px;
    background: var(--primary-background);

    .arrow {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      margin-top: 24px;
    }
  }

  .warning-message {
    padding: 12px 16px;
    background: var(--bottom-nav-color);
    margin-top: 4px;
  }
}
