/* Share Modal */
.share-modal,
#share-modal-dark {
  vertical-align: bottom !important;
  width: 100% !important;
  max-width: 600px !important;
  .ant-modal-content {
    border-radius: 0.5rem 0.5rem 0 0;
  }

  h4 {
    margin-bottom: 16px;
  }
}

.ant-modal-body {
  display: flex;
  flex-direction: column;
  padding: var(--bs-modal-padding) 0;

  .shareOptions-btn {
    background: var(--secondary-background);
    border: none;
    padding: 40px;
    width: 100%;
    border-radius: 8px;
  }
}

.ant-modal-body > * {
  padding: 0 var(--bs-modal-padding);
}

.share-Options {
  display: flex;
  justify-content: left;
  position: relative;
  gap: 30px;
  .loader {
    color: #cd6e51;
    top: -2px;
    left: -6px;
    width: 40px;
    height: 40px;
    position: absolute;
  }
}

.share-Options > div {
  position: relative;
  border-radius: 50%;

  img,
  svg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 28px;
  }
  svg {
    left: 3px;
  }
}

#modal-contact-list {
  overflow-x: hidden;
  padding: 0 2px;
  .contact-icon {
    width: fit-content;
    text-align: center;
    position: relative;
    button {
      border-radius: 50%;
      width: 1.785em;
      height: 1.785em;
      font-size: 1.785em;
      font-weight: bold;
      text-align: center;
      border: none;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
      background: var(--selection-color);
      color: #fff;
      img {
        position: absolute;
        transform: translate(-50%, -50%);
      }
    }
  }
}

.share-warning {
  font-style: italic;
  margin: 0% 2%;
  margin-bottom: 3%;
}

/* Add Contact Modal */

.addContact-modal {
  padding: 15px !important;
  .modal-content,
  .ant-modal-content {
    margin: auto !important;
    .action-btn {
      width: fit-content;
      background: var(--selection-color);
      margin: 0;
      margin-left: auto;
      padding: 0 12px;
      display: flex;
      img {
        margin-right: 10px;
      }
    }
  }
}

#addContact-btn {
  position: relative;
  padding: 8px 12px;
  .loader {
    position: absolute;
    top: 6px;
    left: 3.5px;
    width: 33.5px;
    height: 33.5px;
  }
}
