#invest-container { 
    min-width: 275px;
    max-width: 500px;
    padding: 100px 30px 0 30px;
    position: relative;
    
    p {
        font-size: 1.143em;
        font-weight: 600;
        margin: 8px 0 0 0;
        span {
            font-size: 13px;
        }
    }
}