.positioning-light{
    height: 5em;
    background-color:  #F0E6E1;
    position: fixed;
    z-index: 100;
}

.positioning-dark{
    height: 5em;
    background-color: #121212;
    position: fixed;
    z-index: 100;
}