.positioning-light {
  height: 10%;
  background-color: #f0e6e1;
  position: fixed;
  z-index: 100;
}

.positioning-dark {
  height: 5em;
  background-color: #121212;
  position: fixed;
  z-index: 100;
}
