.positioning-light, .positioning-dark {
  height: 5em;
  display: block;
  width: 100%;
  position: fixed;
  z-index: 2;    
  max-width: 600px;
  min-width: 236px;
  width: 100%;
}

#main-header-homeLogo {
  width: 40px;
  position: absolute;
  top: 18px;
  left: 18px;
  cursor: pointer;
}

.main-header-TextLogo {
  width: 130px;
  cursor: pointer;
  position: absolute;
  left: 0;
  right: 0;
  top: 15px;
  margin: auto;
}

.main-header-themeToggler {
  position: absolute;
  right: 10px;
  top: 20px;
  margin: 0;
}

/* Goal Suggestion modal css */
#suggestions-modal-icon {
  position: absolute;
  top: -25px;
  right: 8px;
  border: none;
  background: transparent;
}
.dark-mode-toggle {
  position: absolute;
  top: 25px;
  right: 18px;
}
#goal-suggestion-btn, #goal-suggestion-btn-dark {
    position: absolute;
    top: 16px;
    right: 18px;
    border: none;
    background: radial-gradient(50% 50% at 50% 50%, #FEF2EF 75.64%, #CD6E51 100%);
    border-radius: 50%;
}
  #goal-suggestion-btn > img, #goal-suggestion-btn-dark > img, #suggestions-modal-icon > img {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    background: transparent;
    filter: invert(68%) sepia(40%) saturate(4205%) hue-rotate(325deg) brightness(87%) contrast(82%);
    padding: 7px 9px;
  }
  #goal-suggestion-btn > div, #goal-suggestion-btn-dark > div #suggestions-modal-icon > div  {
    position: absolute;
    top: -8px;
    right: 10px;
    color: white;
    font-weight: 800;
    font-size: 2.5em;
    font-family: 'Montserrat';
  }

  #goal-suggestion-btn-dark {
    background: radial-gradient(50% 50% at 50% 50%, #121212 73.18%, #705BBC 100%);
    img {
      filter: invert(46%) sepia(94%) saturate(3349%) hue-rotate(231deg) brightness(80%) contrast(78%);
    }
    }
#suggestions-modal {
  height: 100%;
  position: absolute;
  left: 0;
  background-color: transparent;
  right: 0;
  margin: auto;
  width: 100vw !important;
  max-width: 600px;
  
  .modal-content {
   position: absolute;
   border: 0;
   bottom: 0;
   background: #F0E6E1;
 }
}

#suggestions-modal-body {
  display: flex;
  flex-direction: column;
  // padding-top: 2em;  
  padding: 5%;
  
  #goalInputField {
    display: none;
  }
}

#archive-title {
  font-size: 1.5em;
  font-weight: bolder;
  font-family: 'Montserrat';
}

.suggestions-goal-name {
  background: #F0E6E1;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  cursor: pointer;
  color: white;
  display: flex;
  font-size: 1.3em;
  font-weight: 600;
  justify-content: space-between;
  margin-top: 4%;
  padding: 2.5% 4%;
  
  button {
    border: none;
    background-color: transparent;
  }
}

#addGoal-options, #addGoal-options-dark {
  z-index: 10;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: -14px;
  right: 25px;

  .addGoal-option {   
    margin-top: 25%;
    background: white;
    border: none;
    z-index: 11;
    position: relative;
    font-size: 17px;
    padding: 6px 60px 6px 14px;
    border-radius: 8px;
    font-weight: 700;
    text-align: center;

    button {
      width: 45px;
      height: 45px;
      position: absolute;
      top: -4px;
      right: -7px;
      border: none;
      border-radius: 50%;
      background: radial-gradient(50% 50% at 50% 50%, #FEF2EF 72.51%, #CD6E51 100%);
    }
  }
}
#addGoal-options-dark {
  .addGoal-option {
    button {
      background: radial-gradient(50% 50% at 50% 50%, #121212 72.51%, #705BBC 100%);
      img {
        filter: invert(46%) sepia(94%) saturate(3349%) hue-rotate(231deg) brightness(80%) contrast(78%)
      }
    }
  }
}


@media (min-width: 600px) {
  .dark-mode-toggle {
    right: 0;
  }
  #goal-suggestion-btn {
    right: 0;
  }
  #main-header-homeLogo {
    left: 0;
  }
  
  #addGoal-options, #addGoal-options-dark {
    right: calc((100% - 587px) / 2);
  }
}