.positioning-light, .positioning-dark {
  height: 5em;
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: fixed;
  z-index: 2;    
  max-width: 600px;
  min-width: 236px;
  width: 100%;
  background: linear-gradient(178.54deg, #FFEEEE 52.07%, #CD6E51 129.23%);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.positioning-dark {
  background: linear-gradient(178.54deg, #121212 52.07%, #291B5C 129.23%);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.nav-icon { 
  border: none;
  background: transparent;
  img {
    width: 35px;
  }
}
#main-header-homeLogo, #main-header-homeLogo-dark {
  width: 50px;
  position: absolute;
  top: 18px;
  left: 15px;
  cursor: pointer;
}

#main-header-homeLogo-dark {
   filter: invert(46%) sepia(94%) saturate(3349%) hue-rotate(231deg) brightness(80%) contrast(78%);
 }

.main-header-TextLogo {
  width: 160px;
  cursor: pointer;
  position: absolute;
  left: 0;
  right: 0;
  top: 15px;
  margin: auto;
}

.main-header-themeToggler {
  position: absolute;
  right: 10px;
  top: 20px;
  margin: 0;
}

.dark-mode-toggle {
  position: absolute;
  left: 0;
  right: 0;
  top: 85px;
  margin: auto;
}


@media (min-width: 600px) {
  .dark-mode-toggle {
    right: 0;
  }
  #main-header-homeLogo {
    left: 10;
  }
  
}
