.header {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  background: var(--secondary-background);
  max-width: 600px;
  height: 58px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.header-items {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  max-width: 180px;
  margin-right: 16px;
}

.header-icon {
  cursor: pointer;
  width: 1.3rem !important;
  height: 1.3rem !important;
  place-self: center;
}

.settings-icon {
  height: 1.1rem !important;
}

/* --- Dropdown --- */
.header-dropdown {
  width: 400px !important;
}

.header-dropdown ul {
  background-color: var(--secondary-background) !important;
}

.header-dropdown ul li {
  margin: 15px 0 !important;
}

.header-dropdown ul li span {
  font-size: 18px;
}

.header-dropdown .ant-switch-inner {
  background: var(--primary-background);
}

@media (max-width: 475px) {
  .header-dropdown {
    width: 75% !important;
  }
}
