
.header { 
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 0 20px;
    width: 100%;
    max-width: 600px;    
  }
  
  .header-items {
    display: flex;
    justify-content: space-between;
    width: 35vw;
    max-width: 180px;
  }
  
  .header-icon {
    width: 2rem;
    height: 2rem;
    place-self: center;
  }
  
  .settings-icon {
    height: 1.9rem;
    padding-top: 3px;
  }

@media (max-width: 400px) {
    .header-icon {
      width: 1.5rem !important;
      height: 1.5rem !important;
    }  
  }

@media (min-width: 600px) {
    .header {
      padding: 20px 0 0 0;
    }
  }