.header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  width: 100%;
  background: var(--secondary-background);
  max-width: 600px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  > :first-child {
    margin-left: 20px !important;
  }
  h6 {
    line-height: 27px;
    font-weight: 500;
  }
}

.header-items {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  max-width: 180px;
  margin-right: 16px;
}

.header-icon {
  cursor: pointer;
  width: 1.3rem !important;
  height: 1.3rem !important;
  place-self: center;
}

.settings-icon {
  height: 1.1rem !important;
}

.header-search-container {
  width: calc(100% - 26px);
  max-width: 560px;
  img {
    width: 18px;
    height: 18px;
    align-self: center;
    margin-right: 10px;
  }
}

.header-search {
  font-size: 1em;
  font-weight: 500;
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
}

.header-dropdown,
.header-dropdown-dark {
  width: 400px !important;
  ul {
    background-color: var(--secondary-background) !important;

    li {
      margin: 15px 0 !important;
      span {
        font-size: 18px;
      }
    }
  }
  .ant-switch-inner {
    background: var(--primary-background);
  }
}
.header-dropdown-dark {
  span {
    color: white !important;
  }
}

.logo-flip {
  animation: flipAnimation 0.5s forwards;
}

@keyframes flipAnimation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@media (max-width: 475px) {
  .header-dropdown,
  .header-dropdown-dark {
    width: 75% !important;
  }
}
