.header {
  position: fixed;
  display: flex;
  width: 100%;
  background: var(--secondary-background);
  max-width: 600px;
  height: 58px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

  .header-logo-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    img {
      height: 30px;
      width: 30px;
      cursor: pointer;
      flex-grow: 0;
      padding: 14px 17px 14px 20px;
    }
  }
  
  h6 {
    line-height: 27px;
    font-weight: 500;
    cursor: pointer;
    flex: 1;
    padding: 14px 0 14px 0;
  }
}

.header-items {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  max-width: 180px;
  margin-right: 16px;
}

.header-icon {
  cursor: pointer;
  width: 1.3rem !important;
  height: 1.3rem !important;
  place-self: center;
}

.settings-icon {
  height: 1.1rem !important;
}

.header-search-container {
  width: calc(100% - 26px);
  max-width: 560px;
  img {
    width: 18px ;
    height: 18px;
    align-self: center;
    padding: 14px 14px 14px 26px;
  }
}

.header-search {
  font-size: 1em;
  font-weight: 500;
  background: transparent;
  border: none;
  outline: none;
  width: 100%;
}

.header-dropdown,
.header-dropdown-dark {
  width: 400px !important;
  ul {
    background-color: var(--secondary-background) !important;

    li {
      margin: 15px 0 !important;
      span {
        font-size: 18px;
      }
    }
  }
  .ant-switch-inner {
    background: var(--primary-background);
  }
}
.header-dropdown-dark {
  span {
    color: white !important;
  }
}

.logo-flip {
  animation: flipAnimation 0.5s forwards;
}

@keyframes flipAnimation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@media (max-width: 475px) {
  .header-dropdown,
  .header-dropdown-dark {
    width: 75% !important;
  }
} 
