.backupRestoreModal {
  .default-btn,
  .default-btn-dark {
    padding: 12px 28px;
    margin: 0;

    p,
    img {
      margin: 0;
    }
  }
}

.global-addBtn {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  bottom: 130px;
  border-radius: 50%;
  border: none;
  background: var(--selection-color);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  width: 56px;
  height: 56px;
  color: white;
  font-weight: 600;
}

.add-goal-pill-btn {
  display: flex;
  border-radius: 30px;
  position: absolute;
  border: 1px solid var(--icon-grad-1);
  color: white;
  font-size: 18px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-background);
  padding: 5px;
  width: 150px;
}

.goal-btn-circle {
  border-radius: 50%;
  border: none;
  background: var(--selection-color);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  width: 56px;
  height: 56px;
  color: white;
  font-weight: 600;
  font-size: 0.875em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ant-tour-close {
  display: none !important;
}

@media (max-width: 400px) {
  .ant-tour {
    position: relative !important;
    width: 70% !important;
  }
}
