.backupRestoreModal {
  .default-btn,
  .default-btn-dark {
    padding: 12px 28px;
    margin: 0;

    p,
    img {
      margin: 0;
    }
  }
}

.scheduleErrorModal {
  .popupModal-title {
    text-align: center;
  }
  p {
    text-align: center;
  }
}
