#feedback-container {
  min-width: 275px;
  max-width: 580px;
  padding-top: 100px;
  position: relative;
}

#feedback-line-1,
#feedback-line-4 {
  font-weight: 600;
  font-style: italic;
}

#feedback-line-2,
#feedback-line-3 {
  font-weight: 400;
  font-size: 0.875em;
}

.userRating-btn {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.decided > span {
  color: var(--icon-grad-2) !important;
}

.star {
  font-size: xxx-large;
}

#feedback-textbox,
#feedback-textbox-dark {
  border-radius: 10px;
  height: 200px;
  width: 100%;
  padding: 10px;
  outline: none;
  background: var(--secondary-background);
}
#feedback-textbox-dark {
  color: white;
}

#feedback-submit-btn {
  padding: 8px 16px;
  background-color: var(--selection-color);
}
#build-info-line{
  margin-top: 20px;
}
#build-info-line p{
   color:grey;
   font-size: small;
  
}