#MTL-display, #MTL-display-withOption {
  padding: 0% 8%;
  padding-top: 1em;
  display: flex;
  flex-direction: row;
  background-color: #EDC7B7;
}

#MTL-display-withOption {
  flex-direction: column;
}

.MTL-circle {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
  background-color: "transparent";
}

.MTL-startTime {
  width: 80px;
  margin-top: 1.5px;
  border: none;
  background-color: transparent;
  font-weight: bolder;
}

.MTL-taskTtitle {
  width: 28vw;
  overflow: hidden;
  white-space: nowrap;
  border: none;
  text-overflow: ellipsis;
  margin-top: 1.5px;
  background: none;
  font-weight: bolder;
  text-align: left;
}

.bar{
    border-left: 0px solid #BC9D90;
    position: relative;
    height: 30px;
}

.vbar{
  border-left: 1px solid #BC9D90;
  left: 48%;
  position: relative;
  height: 30px;
}

#MTL-circles {
  display: flex;
  flex-direction: column;
}

.MTL-circle {
  border: none;
  color: transparent;
}

#MTL-titles {
  display: flex;
  flex-direction: column;
}

#MTL-times {
  display: flex;
  flex-direction: column;
}

.MTL-options_container {
  width: max-content;
  font-size: 75% !important;
}

.MTL-options-task {
  border: 1px solid;
  border-bottom: 0;
  border-radius: 7px 7px 0px 0px;
  display: flex;
  padding: 1.5vh 0vh;
  padding-left: 1.5vw;
}

.MTL-options-task > .MTL-circle {
  border: 2px solid;
}

.MTL-options-title {
  margin-left: 1vw;
}

.MTL-options > button {
  background: transparent;
  border: 1px solid;
  border-right: 0px;
  padding: 0.5vw 2vw;
  font-weight: bolder;
}
  .MTL-options > button:first-child {
    border-radius: 0px 0px 0px 7px;
  }

  .MTL-options > button:last-child {
    border-right: 1px solid;
    border-radius: 0px 0px 7px 0px;
  }
