.MTL-display-light, .MTL-display-dark {
  padding-top: 1em;
  .MTL-goalTiming {
    border: none;
    background-color: transparent;
    color: #343434;
    font-weight: 500;
    margin-top: 4px;
    margin-bottom: 0;
    line-height: 16px;
    white-space: nowrap;
    width: 80px;
  }
}

.MTL-display-dark {
  .MTL-goalTiming {
    color: #E4E4E4;
  }
}

.MTL-display-light > div, .MTL-display-dark > div  {
  margin-bottom: 0.7em;
  padding: 0 4%;  
  line-height: 22px;
  padding-bottom: 0.7em;
  border-bottom: 0.5px solid #303030;
  
} 
.MTL-display-dark > div {
  border-bottom: 0.5px solid #E4E4E4;
}
.MTL-display-light > div:last-child, .MTL-display-dark > div:last-child {
  border: none;
  margin-bottom: 0 !important;

}

.MTL-circle {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  background-color: transparent;
  margin-top: 4px;
}


.MTL-taskTitle {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  border: none;
  text-overflow: ellipsis;
  margin-top: 1.5px;
  background: none;
  font-weight: 700;
  text-align: left;
  color: inherit;
  font-size: 1.286em;
  line-height: 22px
}

.MTL-circle {
  border: none;
  color: transparent;
}

.MTL-options {
  display: flex;
  margin-top: 0.7em;
}

.MTL-options > button {
  background: transparent;
  border: 0px;
  border-right: 1px solid;
  padding: 0.5vw 2vw;
  font-weight: bolder;
  color: inherit;
}
