/*Right Panel-Text, language buttons*/

.containerLang {
  align-items: center;
}

.containerLang {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.containerLang>button>input{
  float: right;
  margin-top: 3%;
}

.containerLang>button{
  border-radius: 0%;
  border-top: 1px solid black;
  
}

.containerLang:nth-child(1)>button{
  border-top-left-radius: 10px!important;
  border-top-right-radius: 10px!important;
  border-top: 0px!important;
}

.containerLang:nth-last-child(1)>button{
  border-bottom-left-radius: 10px!important;
  border-bottom-right-radius: 10px!important;
}

.lang-btn1 {
  font-weight: bolder !important;
  font-size: 1.2rem !important;
  width: 300px !important;
  text-align: left !important;
  padding-left: 8% !important;
}

.lang-btn2 {
  font-weight: bolder !important;
  font-size: 1.2rem !important;
  width: 300px !important;
  text-align: left !important;
  padding-left: 8% !important;
}

input[type="radio"] {
  accent-color: #CD6E51;
}
/*Media Query for Mobile View*/

@media (max-width: 600px) {
  .lang-btn1 {
    font-weight: bolder !important;
    font-size: 1.2rem !important;
    width: 80vw !important;
    text-align: left !important;
    padding-left: 8% !important;
  }

  .lang-btn2 {
    font-weight: bolder !important;
    font-size: 1.2rem !important;
    width: 80vw !important;
    text-align: left !important;
    padding-left: 8% !important;
  }
}
