#MyTime_title{
    font-size: xx-large;
    font-weight: bolder;
}

.MyTime_day-dark, .MyTime_day-light {
    padding: 2vh 0;
    // padding-bottom: 3%;
    border-bottom: 2px solid var(--default-border-color);
    background: var(--secondary-background);
}

.MyTime_day-dark {
}

.MyTime_navRow{
    display: flex;
    justify-content: space-between;
    padding: 3% 4% 0 4%;
    padding-bottom: 0.5em;
    width: 100%;
    border: none;
    background: transparent;
}

.MyTime_dayTitle{
    font-size: larger;
    font-weight: bolder;
    margin: 0;
}

.MyTime-expand-btw, .MyTime-expand-btw-dark {
    background: transparent;
    border: none;
}
.MyTime-expand-btw-dark {
    
}


.MyTime_colorPalette {
    display: flex;
    padding: 0 4%;
    div:first-child{
        border-radius: 8px 0px 0px 8px;
    }
    div:last-child{
        border-radius: 0px 8px 8px 0px;
    }
}