.MyTime_day {
  border-bottom: 2px solid var(--default-border-color);
}

.MyTime_button {
  width: 100%;
  overflow: hidden;
  border: none;
  padding-left: 0;
  padding-bottom: 18px;
  background-color: var(--bottom-nav-color);
}

.MyTime_navRow {
  display: flex;
  justify-content: space-between;
  padding: 3% 2% 0 4%;
  padding-bottom: 0.5em;
  border: none;
  width: auto;
  align-items: flex-start;
  background: transparent;
}

.MyTime_navRow.selected {
  background: var(--bottom-nav-color);
}

.MyTime_dayTitle {
  font-size: 1.143rem;
  font-weight: 500;
}

.MyTime_colorPalette {
  display: flex;
  padding: 10px 4%;
  position: relative;
  max-width: 508px;
  width: calc(100vw - 15%);
}

.MyTime_colorPalette.active {
  background: var(--bottom-nav-color);
}

.colorBand {
  position: absolute;
  left: 4%;
  border-radius: 8px;
}
