#themeChoice-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#landing-textLogo {
    width: 135px;
    margin-top: 23px;
}

#themeChoice-label {
    margin-top: 50px;
    color: #AC3B61;
    font-weight: 700;
    font-size: 18px;
    align-self: center;
}

.themeChoice-btn {
    margin-top: 20px;
    border: none;
    box-shadow: 4px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 10px;
    width: fit-content;
    align-self: center;
    img {
        width: 320px;
    }
}

@media (max-width: 400px) {
    #themeChoice-label {
        font-size: 15px;
    }
    
    .themeChoice-btn {
        img {
            width: 250px;
        }
    }
}
