#themeChoice-container {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: calc(100vw - 11px);

}

#landing-textLogo {
    width: 135px;
    margin-top: 23px;
}

#themeChoice-label {
    margin-top: 50px;
    color:#CD6E51;
    font-weight: 700;
    font-size: 18px;
    align-self: center;
}

.themeChoice-btn-light, .themeChoice-btn-dark {
    margin-top: 20px;
    border: 1px solid #303030;
    border-radius: 20px;
    width: 100%;
    height: 224px;
    align-self: center;
    background: linear-gradient(180deg, #FFF2F2 0%, #EEB8A7 100%);
    font-size: 1.286em;
    font-weight: 700;
    
}

.themeChoice-btn-dark {
    
    background: linear-gradient(180deg, #121212 0%, #14131A 34.49%, #171421 53.24%, #1D1635 70.95%, #291B5C 96.99%);
}

@media (max-width: 400px) {
    #themeChoice-label {
        font-size: 15px;
    }
}
