/*Navbar*/

.navbar-custom{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.nav-link-dashboard-light{ 
    color: #000000 !important;
    font-size: 1.2em;
    margin: 0em 3.2em 0em 1.5em;
}

.nav-link-dashboard-light:hover {
    font-size: 1.25em;
    color: #3b6899 !important;
}

.nav-link-dashboard-dark{ 
    color: #d6d6d6 !important;
    font-size: 1.2em;
    margin: 0em 3.2em 0em 1.5em;
}

.nav-link-dashboard-dark:hover {
    font-size: 1.25em;
    color: #3b6899 !important;
}

.zinzen-logo-nav-dashboard{
    width:4%;
}

.zinzen-text-logo-nav-dashboard{
    margin: 0.7em 0em 1.2em 1em;
    width:10%;
}

.dark-mode-toggle{
    margin-bottom: 1.6em;
}

/* Image Dashboard*/

.book-icon-dashboard {
    width: 100%;
    height: auto;
    margin-top: 6em;
}

/*Dashboard*/

.dashboard-choice-light1 {
    color: #000000;
    font-weight: bolder !important;
    font-size: 1.4rem !important;
    width: 19em !important;
    margin-top: 3em !important;
    margin-bottom: 1.2em;
    text-align: left !important;
    border-radius: 10px 0px 0px 10px !important;
    padding-top: 0.6em !important;
    padding-bottom: 0.6em !important;
}

.dashboard-choice-dark1 {
    color: #ffffff !important;
    font-weight: bolder !important;
    font-size: 1.4rem !important;
    width: 19em !important;
    margin-top: 3em !important;
    margin-bottom: 1.2em;
    text-align: left !important;
    border-radius: 10px 0px 0px 10px !important;
    padding-top: 0.6em !important;
    padding-bottom: 0.6em !important;
}

.dashboard-choice-light {
    color: #000000 !important;
    font-weight: bolder !important;
    font-size: 1.4rem !important;
    width: 19em !important;
    margin-bottom: 1.2em !important;
    text-align: left !important;
    border-radius: 10px 0px 0px 10px !important;
    padding-top: 0.6em !important;
    padding-bottom: 0.6em !important;
}

.dashboard-choice-dark {
    color: #ffffff !important;
    font-weight: bolder !important;
    font-size: 1.4rem !important;
    width: 19em !important;
    margin-bottom: 1.2em !important;
    text-align: left !important;
    border-radius: 10px 0px 0px 10px !important;
    padding-top: 0.6em !important;
    padding-bottom: 0.6em !important;
}

.dashboard-add-btn-light1{
    font-size: 1.4rem !important;
    width: 3.5em !important;
    margin-top: 3em !important;
    margin-bottom: 1.2em;
    margin-left: 0.1em;
    text-align: center !important;
    border-radius:0 10px 10px 0px !important;
    padding-top: 0.6em !important;
    padding-bottom: 0.6em !important;
}

.dashboard-add-btn-dark1{
    font-size: 1.4rem !important;
    width: 3.5em !important;
    margin-top: 3em !important;
    margin-bottom: 1.2em;
    margin-left: 0.1em;
    text-align: center !important;
    border-radius:0 10px 10px 0px !important;
    padding-top: 0.6em !important;
    padding-bottom: 0.6em !important;
}

.dashboard-add-btn-light{
    font-weight: bolder !important;
    font-size: 1.4rem !important;
    width: 3.5em !important;
    margin-bottom: 1.2em !important;
    margin-left: 0.1em;
    text-align: center !important;
    border-radius:0 10px 10px 0px !important;
    padding-top: 0.6em !important;
    padding-bottom: 0.6em !important;
}

.dashboard-add-btn-dark{
    font-weight: bolder !important;
    font-size: 1.4rem !important;
    width: 3.5em !important;
    margin-bottom: 1.2em !important;
    margin-left: 0.1em;
    text-align: center !important;
    border-radius:0 10px 10px 0px !important;
    padding-top: 0.6em !important;
    padding-bottom: 0.6em !important;
}

.add-icon{
    width: 2em;
}


/*Media Query for Mobile View*/

@media (max-width: 600px){

    /*Navbar*/

    .nav-collapse{
        margin-bottom: 1em;
    }

    .zinzen-logo-nav-dashboard{
        margin-bottom: 2.5em;
        width:10%;
        visibility: visible;
    }

    .zinzen-text-logo-nav-dashboard{
        margin-right: 5em;
        margin-bottom: 3em;
        width:25%;
        visibility: visible;
    }

    .nav-collapse-dashboard{
        margin-bottom: 2em;
    }

    .dark-mode-toggle{
        margin-bottom: 2.7em;
    }

    /* Image Dashboard*/

    .book-icon-dashboard{
        display: none;
    }

    
    /*Dashboard*/
    .dashboard-choice-light1 {
        width: 70% !important;
    }
    
    .dashboard-choice-dark1 {
        width: 70% !important;
    }
    
    .dashboard-choice-light {
        width: 70% !important;
    }
    
    .dashboard-choice-dark {
        width: 70% !important;
    }

    .dashboard-add-btn-light1{
        font-size: 1.4rem !important;
        width: 25% !important;
        margin-bottom: 1.2em;
        margin-left: 0.1em;
        text-align: center !important;
        border-radius:0 10px 10px 0px !important;
        padding-top: 0.6em !important;
        padding-bottom: 0.6em !important;
    }
    
    .dashboard-add-btn-dark1{
        font-size: 1.4rem !important;
        width: 25% !important;
        margin-bottom: 1.2em;
        margin-left: 0.1em;
        text-align: center !important;
        border-radius:0 10px 10px 0px !important;
        padding-top: 0.6em !important;
        padding-bottom: 0.6em !important;
    }
    
    .dashboard-add-btn-light{
        font-weight: bolder !important;
        font-size: 1.4rem !important;
        width: 25% !important;
        margin-bottom: 1.2em !important;
        margin-left: 0.1em;
        text-align: center !important;
        border-radius:0 10px 10px 0px !important;
        padding-top: 0.6em !important;
        padding-bottom: 0.6em !important;
    }
    
    .dashboard-add-btn-dark{
        font-weight: bolder !important;
        font-size: 1.4rem !important;
        width: 25% !important;
        margin-bottom: 1.2em !important;
        margin-left: 0.1em;
        text-align: center !important;
        border-radius:0 10px 10px 0px !important;
        padding-top: 0.6em !important;
        padding-bottom: 0.6em !important;
    }
    
    .add-icon{
        width: 1.6em;
    }
}