.interactables-modal.reschedule-modal {
  .header-title {
    text-align: left;
  }
  .reschedule-options {
    display: grid;
    grid-template-columns: 2fr 2fr;

    .goal-action:last-child {
      border-top: 2px solid var(--default-border-color);
      grid-column: 1 / -1;
      border-radius: 0 0 28px 28px;
    }
  }
}
