.feelings-category {
  background-color: var(--bottom-nav-color);
  border-radius: 10px;
  display: flex;
  position: relative;
  height: 48px;
  box-shadow: var(--shadow);
  button {
    background: transparent;
    padding: 12px 16px;
    font-weight: 400;
    font-size: 1.143em;
    align-self: center;
    cursor: pointer;
  }
  button:first-child {
    border: none;
    width: 80%;
    text-align: left;
  }
  button:last-child {
    width: 20%;
    display: flex;
    justify-content: center;
    border: none;
  }
}

#feelingOptions {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.feelingOption,
.feelingOption-selected {
  border: none;
  border-radius: 7px;
  padding: 7px 20px;
  font-weight: 400;
  background: var(--bottom-nav-color);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.4);
}

.feelingOption-selected {
  background: var(--selection-color);
}

#addFeelings-container {
  display: flex;
  flex-direction: column;
  gap: 14px;

  .action-btn {
    margin-left: auto;
    width: fit-content;
    padding: 8px 18px;
  }
}
