.bottom-nav-item {
  width: 100%;
  max-width: 200px;
  background: transparent;
  border: none;
  position: relative;
  p {
    font-size: 12px;
    color: #b1b1b1 !important;
    font-weight: 500;
  }
}
.bottom-nav-item.active {
  background: var(--secondary-background);
  border-radius: 8px;
  p {
    color: var(--icon-grad-2) !important;
    font-weight: 600;
  }
}
.theme-selector-option {
  filter: invert(54%) sepia(26%) saturate(3157%) hue-rotate(333deg) brightness(94%) contrast(69%);
}
