.bottom-navbar, .bottom-navbar-dark {
    position: fixed;
    bottom: 0;
    display: flex;
    background: var(--bottom-nav-color);
    width: 100%;
    max-width: 600px;   
    height: 56px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}
.bottom-navbar-dark {
    .bottom-nav-item.active {
        img {
            filter: brightness(0) invert(1);
        }
        p {
            color: white !important;
        }
    }
}
.bottom-nav-item {
    width: 100%;
    max-width: 200px;
    background: transparent;
    border: none;
    position: relative;
    p { 
        font-size: 12px;
        color: var(--bottom-nav-text-color) !important;
        font-weight: 400;
    }
    img {
        width: 24px;
        padding-bottom: 2px;
    }
}
.bottom-nav-item.active {
    background: var(--selection-color);
    border-radius: 8px;
    p {
        font-weight: 500;
    }
}