#landing-left-panel > div, #landing-right-panel {
    display: flex;
    justify-content: center;
}
#landing-textLogo {
    width: 135px;
    margin-top: 23px;
}

.landing-about {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    color: #AC3B61 !important;
    margin-top: 50px;
}

.landing-about > span:nth-child(even) {
    color: #3B6899 !important;
}

#landing-right-panel {
    flex-direction: column;

    #landing-langChoice {
        margin-top: 30px;
        font-weight: 700;
        font-size: 17px;
        line-height: 17px;
        color: #AC3B61 !important;
        align-self: center;
    }
}

@media (max-width: 500px) {
    .landing-about {
        font-size: 15px;
    }
}