.subheading {
  font-size: 18px;
  font-weight: 500;
  margin-block: 16px !important;
}

.containerLang {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 200px;
  width: 100%;
  background: transparent;
  border-radius: 0.5rem;
  box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.25);

  label {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 16px;
    align-items: center;
    border: none;
    font-size: 18px;
    font-weight: 500;
    background: var(--bottom-nav-color);
    border-bottom: 1px solid var(--default-border-color);
  }

  input[type="radio"] {
    accent-color: #cd6e51 !important;
  }

  .selected {
    background: var(--selection-color);
  }

  button:first-child {
    border-radius: 0.5rem 0.5rem 0 0;
  }

  button:last-child {
    border-radius: 0 0 0.5rem 0.5rem;
    border: none;
  }
}
