.breadcrumb-item + .breadcrumb-item::before {
  content: var(--bs-breadcrumb-divider, ">") !important;
}
.sublist-container, .sublist-content {
  max-width: 600px;
  min-width: 236px;
  width: 100%;
  margin-top: 50px;
}

.breadcrumb li {
  padding-top: 16px;
  a {
   text-decoration: none;
   span {
     border-radius: 5px;
     padding: 6px;
   }
 }

}

.sublist-title {
  position: relative;
  button {
    position: absolute;
    left: 5px;
    width: unset;
  }
  p {
    margin-left: -10px;
    text-transform: capitalize;
    font-style: italic;
    cursor: default;
    text-align: center;
    white-space: nowrap;
    width: 80%;
    overflow: scroll;
    margin: 5px 0 0 50px;
    -ms-overflow-style: none;  
    scrollbar-width: none;
  }
  p::-webkit-scrollbar {
    display: none;
  }
}

.sublist-list-container {
  margin-top: 40px;
  width: 600px;
  padding: 0 !important;
}

.sublist-content {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .mygoalsbutton-dark, .mygoalsbutton-light {
    display: none;
  }  
  
  .todo-form {
    margin-bottom: 24px !important;
  }
  
  .addtask-light , .addtask-dark {   
    margin: 0 !important;
    padding: 3% 4% !important;
    width: 100% !important;
    outline: none;
  }
}


@media only screen and (max-width: 600px) {
  .sublist-list-container {
    margin-top: 40px;
    
  }
}
