* {
    padding: 0;
    margin: 0;
  }
  
  body {
    overflow-y: scroll;
    overflow-x: hidden;
    overflow-wrap: break-word;
  }
  
  .mygoals-font-light {
    margin-left: 0.3em;
    font-style: normal;
    font-weight: bolder;
    text-align: left;
  }
  
  .mygoals-font-dark {
    color: #cecece;
    margin-left: 0.3em;
    font-style: normal;
    font-weight: bolder;
  }
  
  .position {
    overflow-y: hidden;
    overflow-x: hidden;
    padding-top: 6em;
    position: inherit;
  }
  
  .goalsubtext-font-dark {
    color: #cecece;
    margin-left: 0.5em;
    margin-top: 2em;
    font-style: italic;
    padding-bottom: 0em;
  }
  
  .goalsubtext-font-light {
    color: #686868;
    margin-left: 0.5em;
    margin-top: 2em;
    font-style: italic;
    padding-bottom: 0em;
  }

  .alignment-div{
  position: absolute;  
  }
  border
  .addtask-dark {
    background-color: #5f3636;
    color: #cecece;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: none;
    border-radius: 0.5em;
    font-weight: bolder !important;
    font-size: 1rem !important;
    width: 95% !important;
    margin-left: 0.5em;
    margin-top: 0.5em !important;
    text-align: left !important;
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
    padding-left: 0.5em;
  }
  
  .addtask-light {
    background-color: #edc7b7;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: none;
    border-radius: 0.5em;
    font-weight: bolder !important;
    font-size: 1rem !important;
    width: 95% !important;
    margin-left: 0.5em;
    margin-top: 0.5em !important;
    text-align: left !important;
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
    padding-left: 0.5em;
  }
  
  .mygoalsbutton-dark {
    margin-left: 0.5em;
    padding-top: 0.5em;
    display: inline-flex;
  }
  
  .mygoalsbutton-light {
    margin-left: 0.5em;
    padding-top: 2em;
    display: inline-flex;
  }
  
  .input-goal {
    padding-left: 0.5em;
    width: 93%;
  }
  
  .tags {
    font-size: small;
    padding-right: 0.2em;
    border-radius: 1.5em;
    margin-top: 1em;
    margin-left: 0.5em;
    border: none;
  }
  
  .suggestion, .duration, .language {
    padding: 1% 3.5%;
    border: none;
    border-radius: 7px;
    margin-right: 2%;
    font-size: small;
    font-weight: bolder;
  }
  
  .blank {
    display: none;
  }
  
  .deletetodo-dark {
    position: inherit;
    margin-left: 96%;
    background-color: #ff00e6;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
  }
  
  .deletetodo-light {
    position: inherit;
    margin-left: 96%;
    background-color: #5b37ed;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
  }
  
  #updateTask-button{
    font-size: x-large !important;
    font-weight: bolder !important;
    color: white;
    display: flex;
    border-style: none;
    padding: 00.3em;
    position: absolute;
    border-radius: 10px;
    margin-left: 60%;
    margin-top: -9.5em;
  }

  #changeColor-btn {
    width: 6.2em;
    height: 3.2em;
    position: absolute;
    margin-right: 40%;
    right: 0em;
    border: none;
    padding: 0.8em;
    border-radius: 10px;
  }
  
  .color-button {
    border: none;
    padding-left: 00.5em;
    padding-right: 0.5em;
    border-radius: 20px;
  }
  
  .addtask-button {
    color: white !important;
    // background: #AC3B61 !important;
    border-radius: 10px !important;
    font-size: x-large !important;
    font-weight: bolder !important;
  }
  
  @media (max-width: 350px) {
    #changeColor-btn {
      width: 5em;
      height: 3em;
      position: absolute;
      right: 0;
      margin-right: 60%;
      border: none;
      border-radius: 10px;
    }
    #updateTask-button{
      font-size: x-large !important;
      font-weight: bolder !important;
      color: white;
      border-style: none;
      padding: 00.3em;
      position: absolute;
      border-radius: 10px;
      margin-left: 41%;
      margin-top: -10.5em;
    }
    .goalsubtext-font-dark {
      color: #cecece;
      margin-left: 0.5em;
      margin-top: 4em;
      font-style: italic;
      padding-bottom: 0em;
    }
    
    .goalsubtext-font-light {
      color: #686868;
      margin-left: 0.5em;
      margin-top: 4em;
      font-style: italic;
      padding-bottom: 0em;
    }
  
  }
  @media (min-width: 950px) {
    #changeColor-btn {
      width: 6.0em;
      position: absolute;
      right: 0;
      margin-right: 40%;
      border: none;
      padding: 0.6em;
      border-radius: 10px;
    }
    #updateTask-button{
      font-size: x-large !important;
      font-weight: bolder !important;
      color: white;
      border-style: none;
      padding: 00.3em;
      position: absolute;
      border-radius: 10px;
      margin-left: 60%;
      display: flex;
      margin-top: -19.0%;
    }
  
    #addGoals-container {
      padding: 0% 17%;
    }
  }
  