.MTL-display {
  display: flex;
  flex-direction: column;

  .MTL-taskItem {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    line-height: 22px;
    padding: 0.7em 0.7em 0.7em 0.7em;
    line-height: 22px;

    .MTL-taskTitleActionWrapper {
      span {
        font-size: 1.143rem;
        font-weight: 500;
        display: flex;
        position: relative;
      }
    }
  }

  .MTL-goalTiming {
    margin: 4px 5px 4px 14px;
    border: none;
    font-weight: 500;
    line-height: 16px;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: normal;

    .MTL-startTime {
      font-size: 1.143rem;
    }

    .MTL-endTime {
      font-size: 0.875rem;
      font-weight: 400;
    }

    sup {
      font-size: 8.5px;
      line-height: 12px;
    }
  }
}

.MTL-color-block {
  align-self: stretch;
  border-radius: 0 10px 10px 0;
  flex-shrink: 0;
  border: none;
  width: 6px;
  margin-right: 1%;
}

.MyTime-expand-btw {
  border: none;
  background: transparent;
}

.MTL-taskTitle {
  width: 100%;
  overflow: hidden;
  cursor: pointer;
  white-space: nowrap;
  border: none;
  text-overflow: ellipsis;
  margin-top: 1.5px;
  text-align: left;
  font-size: 1.143em;
  line-height: 22px;
  background: transparent;
  padding: 0;
}

.MTL-options {
  display: flex;
  margin-top: 0.7em;
}

.MTL-options > button {
  background: transparent;
  border: 0px;
  font-weight: 400;
  border-right: 1px solid;
  padding: 0.5em 3em;
  font-size: 0.875rem;
  cursor: pointer;
}

.MTL-options > .last-btn {
  border-right: none;
}

@media only screen and (max-width: 600px) {
  .MTL-options {
    padding: 0.1em;
  }

  .MTL-options > button {
    padding: 0.3em 1.5em;
    font-size: 0.7rem;
  }
}

.completedTask {
  opacity: 0.4;

  .MTL-taskTitle {
    text-decoration: line-through;
    text-decoration-thickness: 2px;
  }
}

.skipped {
  display: none;
  transition: opacity 0.5s ease-out;
}
