.App {
  background-color: #F0E6E1;
  font-family: "Montserrat";
}

html{
  background-color:  #F0E6E1 ;
}

body{
  background-color: #F0E6E1;
}

.zinzen-text{
  font-family: "Kristi";
  font-size: 7em;
  color:#291B5C;
}

.left-panel-font1{
  color: #3B6899;
  font-weight: bolder;
  font-size: 2em;
}

.left-panel-font2{
  color: #AC3B61;
  font-style: italic;
  font-weight: bolder;
  font-size: 2em;
}

.btn-primary {
  background-color: #AC3B61 !important;
  color: #FFFFFF !important;
  font-size: 12em;
}

.containerLang{
  align-items: center;
}

.book-icon{
  width: 90%;
  height: auto;
}

.right-panel{
  justify-content: center;
}

.right-panel-font{
  color: #AC3B61;
  font-weight: bolder;
  font-size: 1.2rem;
  margin-top: 25%;
  padding-left: 5%;
}

.containerLang{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.lang-btn1{
  color:#000000 !important;
  font-weight: bolder !important;
  font-size: 1.2rem !important;
   width: 300px !important;
   margin-top: 0.7em;
   text-align: left !important;
   padding-left: 8% !important;
   border-radius: 10px !important;
}
.lang-btn2{
  color: #FFFFFF !important;
  font-weight: bolder !important;
  font-size: 1.2rem !important;
   width: 300px !important;
   margin-top: 0.7em;
   text-align: left !important;
   padding-left: 8% !important;
   border-radius: 10px !important;
}

.themechoice{
  width: 102%;
}
.theme-btn1{
  background-color: #F0E6E1 !important;
}

.theme-btn2{
  background-color: #121212 !important;
}

.navbarCont{
  color:#000000 !important;
}