.public-groups-container {
    max-width: 600px;
    min-width: 236px;
    width: 100%;    
}

#public-groups-searchBar, #public-groups-searchBar-dark {
    background-color: rgba(255, 255, 255, 0.4);
    border: none;
    border-radius: 7px;
    color: black;
    font-size: 1.4em;
    font-family: "Montserrat";
    font-weight: bolder;
    height: 47px;
    margin-bottom: 3.5%;
    margin: 0 13px;
    padding: 0 18px;
  }
  #public-groups-searchBar-dark {
    background-color: rgba(112, 112, 112, 0.6);;
    color: white;
  }

  .public-groups-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;  
  }
  
  .public-groups-exploreGroups-container {
    margin-top:80px;
    margin-left:10px;
    justify-content: start;
    width: 100%;  
    display: flex;
    flex-direction: row;
    
  }

  .public-groups-myGroups-container {
    margin-top:-28px;
    margin-left:-10px;
    justify-content: end;
    width: 100%;  
    display: flex;
    flex-direction: row;
    
  }

  #public-groups-exploreGroups, #public-groups-exploreGroups-dark {
    
    font-family: "Montserrat";
    font-weight: bolder;
    font-size: 1.1em;

    
  }

  #public-groups-myGroups, #public-groups-myGroups-dark {
   
    font-family: "Montserrat";
    font-weight: bolder;
    font-size: 1.1em;
  }

  #explore-groups-switch, #explore-groups-switch-dark {
    display: flex;
    flex-direction: row;
  }



