/*Main body and App*/

.App-light, .App-dark {
  background: linear-gradient(180deg, #FFEEEE 0%, #EEA791 100%);
  font-family: "Montserrat";
  font-weight: bolder;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  color: #343434 !important;
}

.App-dark {
  background: linear-gradient(180deg, #121212 49.07%, #291B5C 100%);
  color: white !important;
}

#toast, #toast-dark {
  position: absolute;
  width: 95vw;
  max-width: 600px;
  top: 100px;
  background-color: rgba(255, 255, 255);
}
#toast-dark {
  background-color: #5468ff;
}

.popupModal, .popupModal-dark {
  .popupModal-title {
    font-size: 1.286em;
    font-weight: 700;
  }
  .modal-dialog {
    margin-top: 18%;
  }
  .modal-content {
    background: #FFEBEB;
  }
  .modal-body {
    background: #FFEBEB;
    border-radius: 10px;
    padding: 33px;
  }
}

.popupModal-dark {
  input {
    background: #343434 !important;
    color: white !important;
  }
  .modal-content {
    background: #121212;
  }
  .modal-body {
    background: #121212;
    color: white;
  }
}