/*Main body and App*/

.App-light {
    background-color: #F0E6E1;
    font-family: "Montserrat";
    font-weight: bolder !important;
    min-height: 100vh;
}

.App-dark {
    background-color: #121212;
    font-family: "Montserrat";
    font-weight: bolder !important;
    min-height: 100vh;
}
