/*Main body and App*/

.App-light {
    background-color: #F0E6E1;
    font-family: "Montserrat";
    font-weight: bolder !important;
    min-height: 100vh;
}

.App-dark {
    background-color: #121212;
    font-family: "Montserrat";
    font-weight: bolder !important;
    min-height: 100vh;
}


/*Navbar*/

.navbar-custom{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.nav-link-dashboard-light{ 
    color: #000000 !important;
    font-size: 1.2em;
    margin: 0em 3.2em 0em 1.5em;
}

.nav-link-dashboard-light:hover {
    font-size: 1.25em;
    color: #3b6899 !important;
}


.nav-link-dashboard-dark{ 
    color: #d6d6d6 !important;
    font-size: 1.2em;
    margin: 0em 3.2em 0em 1.5em;
}

.nav-link-dashboard-dark:hover {
    font-size: 1.25em;
    color: #3b6899 !important;
}

.nav-link-landing-page{ 
    color: #000000 !important;
    font-size: 1.2em;
    margin: 0em 3.2em 0em 1.5em;
}

.nav-link-landing-page:hover {
    font-size: 1.25em;
    color: #3B6899 !important;
}

.zinzen-logo-nav{
    margin-bottom: 1.2em;
    width:0%;
    visibility: hidden;
}

.zinzen-text-logo-nav{
    margin-bottom: 1.2em;
    width:10%;
    visibility: hidden;
}

.zinzen-logo-nav-dashboard{
    width:4%;
}

.zinzen-text-logo-nav-dashboard{
    margin: 0.7em 0em 1.2em 1em;
    width:10%;
}

.dark-mode-toggle{
    margin-bottom: 1.6em;
}

/*Left Panel- ZinZen font, Text, Learn More button customization*/

.zinzen-logo{
    display: block;
    margin-left: 20%;
    width: 30%;
}

.zinzen-text-logo{
    margin-top: 1.5em;
    margin-bottom: 1.2em;
    width: 75%;
}

.left-panel-font1 {
    padding-top: 0.2em;
    color: #3B6899;
    font-weight: bolder;
    font-size: 2em;
}

.left-panel-font2 {
    padding-bottom: 0.2em;
    color: #AC3B61;
    font-style: italic;
    font-weight: bolder;
    font-size: 2em;
}

.btn-primary-learnmore {
    border-radius: 4px;
    background-color: #AC3B61 !important;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.2em;
    padding: 0.5em;
    font-weight: bold;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: 0.2em;
    margin-top: 0.7em;
}

.btn-primary-learnmore span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn-primary-learnmore span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.btn-primary-learnmore:hover span {
    padding-right: 25px;
}

.btn-primary-learnmore:hover span:after {
    opacity: 1;
    right: 0;
}


/*Book Icon*/

.book-icon {
    width: 90%;
    height: auto;
    margin-top: 5em;
}


/*Right Panel-Text, language buttons, theme choice buttons*/

.containerLang {
    align-items: center;
}

.right-panel-font {
    color: #AC3B61;
    font-weight: bolder;
    font-size: 1.2rem;
    margin-top: 25%;
    padding-left: 5%;
}

.theme-choice-panel-font {
    color: #AC3B61;
    font-weight: bolder;
    margin-top: 5%;
    font-size: 1.2rem;
    padding-left: 5%;
}

.containerLang {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lang-btn1 {
    color: #000000 !important;
    font-weight: bolder !important;
    font-size: 1.2rem !important;
    width: 300px !important;
    margin-top: 0.7em;
    text-align: left !important;
    padding-left: 8% !important;
    border-radius: 10px !important;
}

.lang-btn2 {
    color: #FFFFFF !important;
    font-weight: bolder !important;
    font-size: 1.2rem !important;
    width: 300px !important;
    margin-top: 0.7em;
    text-align: left !important;
    padding-left: 8% !important;
    border-radius: 10px !important;
}

.themechoice {
    width: 102%;
}

.themerow{
    display: flex;
  align-items: center;
}

.theme-choice-btn {
    background-color: #F0E6E1 !important;
    border: none !important;
    width: 50%;
}

.theme-choice-btn:hover {
    background-color: #F0E6E1 !important;
    border: none !important;
    padding: 5px 10px !important;
}


/*Dashboard*/

.book-icon-dashboard {
    width: 100%;
    height: auto;
    margin-top: 6em;
}

.dashboard-choice-light1 {
    color: #000000 !important;
    font-weight: bolder !important;
    font-size: 1.4rem !important;
    width: 19em !important;
    margin-top: 3em !important;
    margin-bottom: 1.2em;
    text-align: left !important;
    border-radius: 10px 0px 0px 10px !important;
    padding-top: 0.6em !important;
    padding-bottom: 0.6em !important;
}

.dashboard-choice-dark1 {
    color: #ffffff !important;
    font-weight: bolder !important;
    font-size: 1.4rem !important;
    width: 19em !important;
    margin-top: 3em !important;
    margin-bottom: 1.2em;
    text-align: left !important;
    border-radius: 10px 0px 0px 10px !important;
    padding-top: 0.6em !important;
    padding-bottom: 0.6em !important;
}

.dashboard-choice-light {
    color: #000000 !important;
    font-weight: bolder !important;
    font-size: 1.4rem !important;
    width: 19em !important;
    margin-bottom: 1.2em !important;
    text-align: left !important;
    border-radius: 10px 0px 0px 10px !important;
    padding-top: 0.6em !important;
    padding-bottom: 0.6em !important;
}

.dashboard-choice-dark {
    color: #ffffff !important;
    font-weight: bolder !important;
    font-size: 1.4rem !important;
    width: 19em !important;
    margin-bottom: 1.2em !important;
    text-align: left !important;
    border-radius: 10px 0px 0px 10px !important;
    padding-top: 0.6em !important;
    padding-bottom: 0.6em !important;
}

.dashboard-add-btn-light1{
    font-size: 1.4rem !important;
    width: 3.5em !important;
    margin-top: 3em !important;
    margin-bottom: 1.2em;
    margin-left: 0.1em;
    text-align: center !important;
    border-radius:0 10px 10px 0px !important;
    padding-top: 0.6em !important;
    padding-bottom: 0.6em !important;
}

.dashboard-add-btn-dark1{
    font-size: 1.4rem !important;
    width: 3.5em !important;
    margin-top: 3em !important;
    margin-bottom: 1.2em;
    margin-left: 0.1em;
    text-align: center !important;
    border-radius:0 10px 10px 0px !important;
    padding-top: 0.6em !important;
    padding-bottom: 0.6em !important;
}

.dashboard-add-btn-light{
    font-weight: bolder !important;
    font-size: 1.4rem !important;
    width: 3.5em !important;
    margin-bottom: 1.2em !important;
    margin-left: 0.1em;
    text-align: center !important;
    border-radius:0 10px 10px 0px !important;
    padding-top: 0.6em !important;
    padding-bottom: 0.6em !important;
}

.dashboard-add-btn-dark{
    font-weight: bolder !important;
    font-size: 1.4rem !important;
    width: 3.5em !important;
    margin-bottom: 1.2em !important;
    margin-left: 0.1em;
    text-align: center !important;
    border-radius:0 10px 10px 0px !important;
    padding-top: 0.6em !important;
    padding-bottom: 0.6em !important;
}

.add-icon{
    width: 2em;
}

/* My Feelings Page*/

.my-feelings-font-light{
    padding: 0em 1em 0em 0.8em;
    font-style: italic;
    font-weight: bolder;
}

.my-feelings-font-dark{
    color:#cecece;
    padding: 0em 1em 0em 0.8em;
    font-style: italic;
    font-weight: bolder;
}

.feelings-title{
    font-weight: bolder !important;
    margin-top: 1em;
}

.menu-list{
    display: flex;
    flex-direction: column;
}

.btn-my-feelings-light {
    margin-top: 0.5em;
    margin-right: 0.5em;
    margin-left: 0em;
    border: 2px solid #EDC7B7 !important;
    background-color:  #F0E6E1 !important;
    color: black !important;
    padding: 0.5em 1em 0.5em 1em !important;
    font-weight: bolder !important;
    font-size: 1.2em !important;
    cursor: pointer !important;
  }


  .btn-feelings-light {
    border-color: #EDC7B7 !important;
    color: #7E7E7E !important;
    font-weight: bolder !important;
  }

  .btn-feelings-light:hover {
    background-color: #EDC7B7!important;
    font-weight: bolder !important;
    color: white !important;
  }

  .btn-my-feelings-dark {
    margin-top: 0.5em;
    margin-right: 0.5em;
    margin-left: 0em;
    border: 2px solid #EDC7B7 !important;
    background-color:  #121212 !important;
    color: black !important;
    padding: 0.5em 1em 0.5em 1em !important;
    font-weight: bolder !important;
    font-size: 1.2em !important;
    cursor: pointer !important;
  }


  .btn-feelings-dark {
    border-color: #443027 !important;
    color: #cecece !important;
    font-weight: bolder !important;
  }

  .btn-feelings-dark:hover {
    background-color: #443027!important;
    font-weight: bolder !important;
    color: white !important;
  }

.feelings-menu-mobile{
    display: none;
}

/*Media Query for Mobile View*/

@media (max-width: 600px){

    /*Navbar*/
    .zinzen-logo-nav{
        width:10%;
        visibility: visible;
    }

    .zinzen-text-logo-nav{
        margin-right: 10em;
        width:25%;
        visibility: visible;
    }

    .nav-collapse{
        margin-bottom: 1em;
    }

    .zinzen-logo-nav-dashboard{
        margin-bottom: 2.5em;
        width:10%;
        visibility: visible;
    }

    .zinzen-text-logo-nav-dashboard{
        margin-right: 5em;
        margin-bottom: 3em;
        width:25%;
        visibility: visible;
    }

    .zinzen-text-logo {
        display:none;
    }

    .zinzen-logo {
        display:none;
    }

    .nav-collapse-dashboard{
        margin-bottom: 2em;
    }

    .dark-mode-toggle{
        margin-bottom: 2.7em;
    }

    /*Info panel text*/
    .left-panel-font1 {
        color: #3B6899;
        font-weight: bolder;
        font-size: 5.2vw;
        padding-left: 4em;
    }
    
    .left-panel-font2 {
        color: #AC3B61;
        font-style: italic;
        font-weight: bolder;
        font-size: 5.2vw;
        padding-left: 4em;
    }

    .zinzen-text {
        font-family: "Kristi";
        font-size: 20vw;
        color: #291B5C;
        margin-top: 0em;
        margin-left: 1em;
    }

    .btn-primary-learnmore {
        display:none;
    }

    /*Book Icon*/
    .book-icon {
        width: 60%;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0.7em;
        margin-bottom: 0.7em;
    }
    .book-icon-dashboard{
        display: none;
    }

    /*User Choice Panel*/
    .themerow{
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .theme-choice-btn {
        background-color: #F0E6E1 !important;
        border: none !important;
        width: 100%;
    }

    .theme-choice-btn:hover {
        background-color: #F0E6E1 !important;
        border: none !important;
        padding: 5px 10px !important;
    }

    .right-panel-font {
        color: #AC3B61;
        font-weight: bolder;
        font-size: 1.1em;
        margin-top: 0.6em;
    }

    .lang-btn1 {
        color: #000000 !important;
        font-weight: bolder !important;
        font-size: 1.2rem !important;
        width: 80vw !important;
        margin-top: 0.7em;
        text-align: left !important;
        padding-left: 8% !important;
        border-radius: 10px !important;
    }

    .lang-btn2 {
        color: #FFFFFF !important;
        font-weight: bolder !important;
        font-size: 1.2rem !important;
        width: 80vw !important;
        margin-top: 0.7em;
        text-align: left !important;
        padding-left: 8% !important;
        border-radius: 10px !important;
    }

    /*Dashboard*/

    .dashboard-choice-light1 {
        color: #000000 !important;
        font-weight: bolder !important;
        font-size: 1.4rem !important;
        width: 70% !important;
        margin-top: 3em !important;
        margin-bottom: 1.2em;
        text-align: left !important;
        border-radius: 10px 0px 0px 10px !important;
        padding-top: 0.6em !important;
        padding-bottom: 0.6em !important;
    }
    
    .dashboard-choice-dark1 {
        color: #ffffff !important;
        font-weight: bolder !important;
        font-size: 1.4rem !important;
        width: 70% !important;
        margin-top: 3em !important;
        margin-bottom: 1.2em;
        text-align: left !important;
        border-radius: 10px 0px 0px 10px !important;
        padding-top: 0.6em !important;
        padding-bottom: 0.6em !important;
    }
    
    .dashboard-choice-light {
        color: #000000 !important;
        font-weight: bolder !important;
        font-size: 1.4rem !important;
        width: 70% !important;
        margin-bottom: 1.2em !important;
        text-align: left !important;
        border-radius: 10px 0px 0px 10px !important;
        padding-top: 0.6em !important;
        padding-bottom: 0.6em !important;
    }
    
    .dashboard-choice-dark {
        color: #ffffff !important;
        font-weight: bolder !important;
        font-size: 1.4rem !important;
        width: 70% !important;
        margin-bottom: 1.2em !important;
        text-align: left !important;
        border-radius: 10px 0px 0px 10px !important;
        padding-top: 0.6em !important;
        padding-bottom: 0.6em !important;
    }

    .add-icon{
        width: 200em;
    }

    .dashboard-add-btn-light1{
        font-size: 1.4rem !important;
        width: 25% !important;
        margin-bottom: 1.2em;
        margin-left: 0.1em;
        text-align: center !important;
        border-radius:0 10px 10px 0px !important;
        padding-top: 0.6em !important;
        padding-bottom: 0.6em !important;
    }
    
    .dashboard-add-btn-dark1{
        font-size: 1.4rem !important;
        width: 25% !important;
        margin-bottom: 1.2em;
        margin-left: 0.1em;
        text-align: center !important;
        border-radius:0 10px 10px 0px !important;
        padding-top: 0.6em !important;
        padding-bottom: 0.6em !important;
    }
    
    .dashboard-add-btn-light{
        font-weight: bolder !important;
        font-size: 1.4rem !important;
        width: 25% !important;
        margin-bottom: 1.2em !important;
        margin-left: 0.1em;
        text-align: center !important;
        border-radius:0 10px 10px 0px !important;
        padding-top: 0.6em !important;
        padding-bottom: 0.6em !important;
    }
    
    .dashboard-add-btn-dark{
        font-weight: bolder !important;
        font-size: 1.4rem !important;
        width: 25% !important;
        margin-bottom: 1.2em !important;
        margin-left: 0.1em;
        text-align: center !important;
        border-radius:0 10px 10px 0px !important;
        padding-top: 0.6em !important;
        padding-bottom: 0.6em !important;
    }
    
    .add-icon{
        width: 1.6em;
    }

    .feelings-menu-desktop{
        display:none;
    }
    .feelings-menu-mobile{
        display: block;
    }
    .feelings-title-mobile{
        font-weight: bolder;
        padding-top: 0.5em;
    }
    .feelings-title-light{
        color:#000000 !important;
        font-weight: bolder;
        background-color: #EDC7B7 !important;
        padding: 1em 1.5em 1em 1.5em !important;

    }

    .feelings-title-dark{
        color:#ffffff !important;
        font-weight: bolder;
        background-color: #443027 !important;
        padding: 1em 1.5em 1em 1.5em !important;

    }
}

