/*Main body and App*/

.App-light, .App-dark {
  background: linear-gradient(180deg, #FFEEEE 0%, #EEA791 100%);
  background-attachment: fixed;
  font-family: "Montserrat";
  font-weight: bolder;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  color: #343434 !important;
}

.App-dark {
  background: linear-gradient(180deg, #121212 49.07%, #291B5C 100%);
  background-attachment: fixed;
  color: white !important;
}

#toast, #toast-dark {
  position: absolute;
  width: 95vw;
  max-width: 600px;
  top: 100px;
  background-color: rgba(255, 255, 255);
  z-index: 9999;
  text-align: center;
  #toast-message {
    font-size: 1.285em;
    font-weight: 600;
  }
  #extra-message {
    font-size: 0.856em;
    font-weight: 600;
  }
}
#toast-dark {
  background-color: #5468ff;
}

.default-input, .default-input-dark {
  background: #EEB8A7;
  border-radius: 7px;
  border: none;
  padding: 8px; 
  font-size: 1.143em !important;
  font-weight: 700;
}
.default-input-dark {
  background: #343434 !important;
  color: white !important;
}

.default-btn, .default-btn-dark {
  font-weight: 600 !important;
  background: #CD6E51;
  border-radius: 5px;
  padding: 8px 15px;
  border: none;
  margin-top: 20px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  place-self: flex-end;
  img {
      margin-right: 10px;
  }
}

.default-btn-dark {
  color: white;
  background:#9984E4;
  img {
      filter: brightness(0) invert(1);
  }
}

.popupModal, .popupModal-dark {
  .popupModal-title {
    font-size: 1.286em;
    font-weight: 700;
  }
  .modal-dialog {
    margin-top: 18%;
  }
  .modal-content {
    background: #FFEBEB;
  }
  .modal-body {
    background: #FFEBEB;
    border-radius: 10px;
    padding: 33px;
  }
}

.popupModal-dark {
  input {
    background: #343434 !important;
    color: white !important;
  }
  .modal-content {
    background: #121212;
  }
  .modal-body {
    background: #121212;
    color: white;
  }
}

.accordion-item, .accordion-header, .accordion-button {
  background: transparent !important;
  border: none !important;
  box-shadow: none !important;
}
.accordion-button {
  padding: 0;
}
.Accordion { 
  .accordion-button::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000000'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
  }  
}
.Accordion-dark { 
  .accordion-button::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
  }
}