
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

$theme-colors: (
  "primary-base": #f0e6e1,
  "peach": #edc7b7,
  "light-peach": #f7ded8,
  "dark-peach": #e6b3a4,
  "pink": #ac3b61,
  "grey-base": #bab2bc,
  "pale-blue": #3b6899,
  "purple": #8e3379,
  "brown": #443027,
  "dark-grey": #646464,
  "dark-blue": #2b517b,
  "dark-pink": #9c4663,
  "dark-purple": #612854,
);

.global-addBtn-img { padding: 2px 0 0 0 !important; filter: brightness(0) invert(1); }

.App-light, .modal-content {
  --bottom-nav-text-color: #CD6E51;
  // --default-border-color: lightgrey;
}

.App-dark, .modal-content {
  --bottom-nav-text-color: #9E9E9E;
  // --default-border-color: slate grey;
}

/* Color Pallette of Light Theme(s) */
.light-theme1 {
  --app-background: linear-gradient(180deg, #FFCDD2 0%, #FFEEEE 100%, #FFEEEE 100%);
  --primary-background: #ffc5c5;
  --secondary-background: #FFE6F1;
  --header-color: #FFADB5;
  --bottom-nav-color: #FFEEEE;
  --selection-color: #FFFDFE;
  --default-border-color: #FFA69E;
  .global-addBtn-img { filter: unset !important; }
}
.light-theme2 {
  --app-background: linear-gradient(180deg, #FAD2D2 0%, #FFC8A2 80.78%);
  --primary-background: #EF9479;
  --secondary-background: #FFEAEA;
  --header-color: #FFBBBB;
  --bottom-nav-color: #FFC8A2;
  --selection-color: #FCE3D2;
  --default-border-color: #FFA07A;
}
.light-theme3 {
  --app-background: linear-gradient(180deg, #FFC0CB 0%, #FFA07A 100%);
  --primary-background: #FA805B;
  --secondary-background: #ffcdbe;
  --header-color: #FF9FB0;
  --bottom-nav-color: #FFB89B;
  --selection-color: #FCE3D2;
  --default-border-color: #FF7944;
}
.light-theme4 {
  --app-background: linear-gradient(180deg, #FDBCB4 0%, #FCD3A5 100%);
  --primary-background: #FA805B;
  --secondary-background: #FFE4E1;
  --header-color: #FF9C8F;
  --bottom-nav-color: #FCD3A5;
  --selection-color: #FCE3D2;
  --default-border-color: #FF7944;
}
.light-theme5 {
  --app-background: linear-gradient(180deg, #FFDAB9 0%, #FFE4B5 100%);
  --primary-background: #FA805B;
  --secondary-background: #FFFDD0;
  --header-color: #FFCEA2;
  --bottom-nav-color: #FCD3A5;
  --selection-color: #FCE3D2;
  --default-border-color: #FFA07A;
}
.light-theme6 {
  --app-background: linear-gradient(180deg, #FCD3A5 0%, #FFA07A 100%);
  --primary-background: #FA805B;
  --secondary-background: #FF8B5C;
  --header-color: #FFC38D;
  --bottom-nav-color: #FCD3A5;
  --selection-color: #FCE3D2;
  --default-border-color: #FF8B5C;
}
.light-theme7 {
  --app-background: linear-gradient(180deg, #FFF8DC 0%, #FFEEEE 100%);
  --primary-background: #FFDADA;
  --secondary-background: #FFFFF0;
  --header-color: #F8EDC2;
  --bottom-nav-color: #FFEEEE;
  --selection-color: #FFFDFE;
  --default-border-color: #FF8B5C;
  .global-addBtn-img { filter: unset !important; }
}
.light-theme8 {
  --app-background: linear-gradient(180deg, #FFF8DC 0%, #FFB6C1 100%, #FFB6C1 100%);
  --primary-background: #feb7b7;
  --secondary-background: #FFE4E1;
  --header-color: #FFF8DC;
  --bottom-nav-color: #FFDADA;
  --selection-color: #FFF9FB;
  --default-border-color: #FFA07A;
  .global-addBtn-img { filter: unset !important; }
}
.light-theme9 {
  --app-background: linear-gradient(180deg, #FFA07A 0%, #FF9CCE 100%);
  --primary-background: #ff7898;
  --secondary-background: #FFC7D4;
  --header-color: #FFA07A;
  --bottom-nav-color: #FF9FD0;
  --selection-color: #FFBACA;
  --default-border-color: #F6426D;
}

/* Color Pallette of Dark Theme(s) */
.dark-theme1 {
  --app-background: linear-gradient(180deg, #0F0F16 0%, #1F2A4B 50%, #1F2A4B 50%, #0C0B14 100%);
  --primary-background: #272733;
  --secondary-background: #0D121D;
  --header-color: #181824;
  --bottom-nav-color: #181824;
  --selection-color: #1F2A38;
  --default-border-color: #202626;
  --modal-bg-color: #0F0F16;
}
.dark-theme2 {
  --app-background: linear-gradient(180deg, #17252A 0%, #0F1C20 100%), linear-gradient(0deg, #345B63 0%, #0D232A 100%);
  --primary-background: #0D4051;
  --secondary-background: #03181E;
  --header-color: #0D232A;
  --bottom-nav-color: #0D232A;
  --selection-color: #0D4051;
  --default-border-color: #C0C0C0;
  --modal-bg-color: #00171e;
}
.dark-theme3 {
  --app-background: linear-gradient(180deg, #050202 0%, #0A5D5D 100%), linear-gradient(0deg, #234B4B 0%, #0C1616 100%, #0C1616 100%);
  --primary-background: #234B4B;
  --secondary-background: #002E2E;
  --header-color: #0D232A;
  --bottom-nav-color: #0D232A;
  --selection-color: #234B4B;
  --default-border-color: #87CEEB;
  --modal-bg-color: #050202;
}
.dark-theme4 {
  --app-background: linear-gradient(180deg, #050202 0%, #0D3838 100%), linear-gradient(0deg, #1F4D4E 0%, #0C1E20 100%);
  --primary-background: #234B4B;
  --secondary-background: #091719;
  --header-color: #0C1E20;
  --bottom-nav-color: #0C1E20;
  --selection-color: #234B4B;
  --default-border-color: #33A1C9;
  --modal-bg-color: #050202;
}
.dark-theme5 {
  --app-background: linear-gradient(180deg, #202C39 0%, #101C24 100%), linear-gradient(0deg, #3B8EA5 0%, #0F1C20 100%);
  --primary-background: #424F5E;
  --secondary-background: #17232A;
  --header-color: #202C39;
  --bottom-nav-color: #202C39;
  --selection-color: #424F5E;
  --default-border-color: #CCCCCC;
  --modal-bg-color: #101C24;
}
.dark-theme6 {
  --app-background: linear-gradient(180deg, #0D0D0D 0%, #2F213D 50%, #5B4379 100%);
  --primary-background: #654D84;
  --secondary-background: #1F1E2F;
  --header-color: #3E2F51;
  --bottom-nav-color: #3E2F51;
  --selection-color: #654D84;
  --default-border-color: #3B2F5C;
  --modal-bg-color: #0D0D0D;
}
.dark-theme7 {
  --app-background: linear-gradient(180deg, #111111 0%, #1B2340 50%, #454F9E 100%);
  --primary-background: #454F9E;
  --secondary-background: #0C0E16;
  --header-color: #111111;
  --bottom-nav-color: #111111;
  --selection-color: #222222;
  --default-border-color: #202626;
  --modal-bg-color: #152250;
}

.dark-theme8 {
  --app-background: linear-gradient(180deg, #162A4A 0%, #0B1220 100%);
  --primary-background: #2D466D;
  --secondary-background: #0A162B;
  --header-color: #162A4A;
  --bottom-nav-color: #162A4A;
  --selection-color: #2D466D;
  --default-border-color: #202626;
  --modal-bg-color: #0B1220;
}
.dark-theme9 {
  --app-background: linear-gradient(180deg, #060B0E 0%, #2D2B36 100%);
  --primary-background: #3F3D47;
  --secondary-background: #121417;
  --header-color: #060B0E;
  --bottom-nav-color: #26242F;
  --selection-color: #3F3D47;
  --default-border-color: #202626;
  --modal-bg-color: #060B0E;
}

.action-btn { 
  font-size: 0.875em;
  font-weight: 600 !important;
  border-radius: 5px;
  padding: 8px;
  margin-top: 20px;
  border: none;
  align-items: center;
  background: var(--selection-color);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

h6 {
  font-size: 1.275rem;
  font-weight: 600;
}

.overlay {
  position: fixed;
  
  width: 100vw;
  height: 100vh;
  z-index: 5;
}


@media (max-width: 400px) {
  .h1 {
    font-size: 1.5rem;
  }  
}
