$theme-colors: (
  "primary-base": #f0e6e1,
  "peach": #edc7b7,
  "light-peach": #f7ded8,
  "dark-peach": #e6b3a4,
  "pink": #ac3b61,
  "grey-base": #bab2bc,
  "pale-blue": #3b6899,
  "purple": #8e3379,
  "brown": #443027,
  "dark-grey": #646464,
  "dark-blue": #2b517b,
  "dark-pink": #9c4663,
  "dark-purple": #612854,
);

@import "../node_modules/bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}


.overlay {
  position: fixed;
  
  width: 100vw;
  height: 100vh;
  z-index: 5;
}