@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

div::-webkit-scrollbar {
  display: none;
}

/* App Layout */
.appLayout::-webkit-scrollbar {
  display: block;
  width: 8px;
}

.appLayout::-webkit-scrollbar-thumb {
  background-color: rgba(140, 140, 140, 0.5);
  border-radius: 4px;
}

img {
  width: 24px;
  height: 24px;
}

span,
p,
div,
button,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat";
}

.App-light,
.App-dark {
  display: flex;
  flex-direction: column;
  place-items: center;
  font-weight: bolder;
  height: 100vh;
  overflow: scroll;
  background: var(--app-background);
  * {
    color: black;
  }
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
}
.App-dark {
  background: var(--app-background);
}
.App-dark,
.popupModal-dark {
  * {
    color: white;
  }
  .theme-icon {
    filter: invert(1);
  }
  .secondary-icon {
    filter: invert(53%) sepia(70%) saturate(11%) hue-rotate(322deg) brightness(104%) contrast(89%);
  }
}

.submit-btn-dark {
  img {
    filter: brightness(0) invert(1);
  }
}

.publicGoal {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-top: 5px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  .loader {
    position: absolute;
    top: -3.5px;
    left: -3px;
    width: 47px !important;
    height: 47px !important;
  }
  img {
    width: 25px !important;
    height: 23px !important;
    margin: 0 !important;
  }
}

.light-svg {
  filter: invert(68%) sepia(40%) saturate(4205%) hue-rotate(325deg) brightness(87%) contrast(82%);
}

.dark-svg {
  filter: invert(100%) sepia(66%) saturate(2%) hue-rotate(89deg) brightness(111%) contrast(100%);
}

.zinzen-textLogo {
  width: 135px;
  height: 75px;
}

/* Toast */
#zinzen-toast {
  position: absolute;
  width: 95vw;
  max-width: 600px;
  top: 100px;
  background: var(--selection-color);
  z-index: 9999;
  text-align: center;
  #toast-message {
    font-size: 1.285em;
    font-weight: 600;
  }
  #extra-message {
    font-size: 0.856em;
    font-weight: 600;
  }
}

/* input field */
.default-input {
  font-size: 1em;
  font-weight: 400;
  padding: 8px 16px;
  border-radius: 8px;
  outline: none;
  border: none;
  color: black;
  background: var(--secondary-background);
}

/* button */
.default-btn,
.default-btn-dark {
  font-weight: 600 !important;
  background: transparent;
  border-radius: 5px;
  padding: 8px 15px;
  border: none;
  margin-top: 20px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  place-self: flex-end;
  background: var(--selection-color);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  font-size: 0.875em;
  img {
    margin-right: 10px;
  }
}
.default-btn-dark {
  img {
    filter: brightness(0) invert(1);
  }
}

/* Subheader*/
.subheader-title {
  font-size: 1.286em;
  font-weight: 500;
  text-align: center;
  font-style: italic;
  white-space: nowrap;
  padding-bottom: 5px;
}

/* Popup Modals */
.popupModal,
.popupModal-dark {
  border: none;
  input {
    font-size: 1em;
    font-weight: 400;
    padding: 8px 16px;
    border-radius: 8px;
    outline: none;
    border: none;
    background: var(--secondary-background);
  }
  .popupModal-title {
    font-size: 1.286em;
    font-weight: 500;
    margin-bottom: 10px;
    margin-top: 0;
  }
  .header-title {
    padding: 24px 12px;
    text-align: center;
    border-radius: 28px 28px 0 0 !important;
    background: var(--secondary-background);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
    font-size: 18px;

    h4 {
      margin: 0;
    }
  }
  .modal-dialog {
    margin-top: 18%;
  }

  .ant-modal-content {
    border: none !important;
    background: var(--primary-background) !important;
    margin-top: auto;
  }

  .ant-modal-body {
    border-radius: 10px;
  }
}
.popupModal-dark {
  input {
    color: white;
  }
}

/* Loader */
.loader {
  position: absolute;
  top: 18px;
  left: 0;
  width: 50px;
  height: 50px;
}

.chevronDown,
.chevronLeft,
.chevronRight {
  width: 12px;
  height: 12px;
}

.chevronDown {
  transform: rotate(270deg);
}

.chevronRight {
  transform: scaleX(-1);
}

@media (max-width: 600px) {
  .loader {
    left: 18px;
  }
  // .colorPallette, .colorPallette-dark{
  //   width: 60vw;
  // }
}

.goals-icon-history {
  filter: brightness(0) saturate(100%) invert(100%) sepia(66%) saturate(2%) hue-rotate(89deg) brightness(111%)
    contrast(100%);
}
