div::-webkit-scrollbar {
  display: none;
}

.App-light, .App-dark {  
  display: flex;
  flex-direction: column;
  place-items: center;
  font-family: "Montserrat";
  font-weight: bolder;
  height: 100vh;
  background: var(--app-background);
  p, button, span, div, h1, h2, h3, h4, h5 {
    color: black;
  }
  p, h1, h2, h3, h4, h5 {
    margin: 0;
  }
}
.App-dark {
  p, button, span, div, h1, h2, h3, h4, h5 {
    color: white;
  }
  .theme-icon {
    filter: invert(1);
  }
  .secondary-icon {
    filter: invert(53%) sepia(70%) saturate(11%) hue-rotate(322deg) brightness(104%) contrast(89%)
  }
}

.publicGoal {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-top: 5px;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  .loader {
    position: absolute;
    top: -3.5px;
    left: -3px;
    width: 47px !important;
    height: 47px !important;
  }
  img {
    width: 25px !important;
    height: 23px !important;
    margin: 0 !important;
  }
}
.light-svg-bg {
  
}

.dark-svg-bg {
  
}

.light-svg {
  filter: invert(68%) sepia(40%) saturate(4205%) hue-rotate(325deg) brightness(87%) contrast(82%);
}

.dark-svg {
  filter: invert(46%) sepia(94%) saturate(3349%) hue-rotate(231deg) brightness(80%) contrast(78%);
}

/* Sidebar */
.sidebar {
  z-index: 10;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 70px;
  left: calc(calc(100vw - 600px)/2 + 290px);
  gap: 20px;
  
}

.sidebar-item, .sidebar-item-dark {   
  
  border: none;
  z-index: 11;
  position: relative;
  font-size: 16px;
  padding: 6px 25px 6px 38px;
  border-radius: 8px;
  font-weight: 700;
  text-align: left;
  
  button {
    width: 40px;
    height: 40px;
    position: absolute;
    top: -2px;
    left: -10px;
    border: none;
    border-radius: 50%;
    display: flex;
    place-items: center;
    justify-content: center;
  }
}
.sidebar-item-dark {
  
}
/* Toast */
#toast, #toast-dark {
  position: absolute;
  width: 95vw;
  max-width: 600px;
  top: 100px;
  
  z-index: 9999;
  text-align: center;
  #toast-message {
    font-size: 1.285em;
    font-weight: 600;
  }
  #extra-message {
    font-size: 0.856em;
    font-weight: 600;
  }
}
#toast-dark {
  
}

/* input field */
.default-input, .default-input-dark {
  
  border-radius: 7px;
  border: none;
  padding: 8px; 
  font-size: 1.143em !important;
  font-weight: 700;
}
.default-input-dark {
  
}

.ordinary-btn {
  
  border: none;
}

/* button */
.default-btn, .default-btn-dark {
  font-weight: 600 !important;
  
  border-radius: 5px;
  padding: 8px 15px;
  border: none;
  margin-top: 20px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  place-self: flex-end;
  img {
      margin-right: 10px;
  }
}
.default-btn-dark {
  
  img {
      filter: brightness(0) invert(1);
  }
}

/* Popup Modals */
.popupModal, .popupModal-dark {
  .popupModal-title {
    font-size: 1.286em;
    font-weight: 700;
  }
  .modal-dialog {
    margin-top: 18%;
  }
  .modal-content {
    margin-top: auto;
    
  }
  .modal-body {
    
    border-radius: 10px;
    padding: 33px;
  }
}
.popupModal-dark {
  input {
    
  }
  .modal-content {
    
  }
  .modal-body {
    
  }
}

/* Accordion */
.accordion-body {
  padding: 1em 0 !important;
}
.accordion-item, .accordion-header, .accordion-button {
  
  border: none !important;
  box-shadow: none !important;
}
.accordion-button {
  padding: 0;
}
.Accordion { 
  .accordion-button::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000000'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
  }  
}
.Accordion-dark { 
  .accordion-button::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
  }
}

.colorPallette, .colorPallette-dark {
  display: flex;
  gap: 25px;
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 10px 0;
  
  padding: 10px 20px;
  width: 465px;
  border-radius: 10px;
  button {
    border: none;    
    min-width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    font-size: 1em;
  }
}
.colorPallette-dark {
  
}
/* Loader */
.loader {
  position: absolute;
  top: 18px;
  left: 0;
  width: 50px;
  height: 50px;
}
@media (max-width: 600px) {
  .loader {
      left: 18px;
  }
  .colorPallette, .colorPallette-dark{
    width: 65vw;
  }
}