.App-light,
.popupModal,
.App-dark,
.popupModal-dark {
  .checkbox {
    .ant-checkbox {
      background: transparent !important;
    }
    .ant-radio-checked .ant-radio-inner,
    .ant-checkbox-checked .ant-checkbox-inner {
      border: 2px solid var(--Linear, var(--icon-grad-1)) !important ;
      background-color: var(--icon-grad-1) !important;
    }
    .ant-radio:hover .ant-radio-inner,
    .ant-checkbox:hover .ant-checkbox-inner,
    .ant-checkbox-checked:after {
      border: 2px solid var(--Linear, var(--icon-grad-1)) !important ;
    }
    .ant-radio-checked .ant-radio-inner:focus,
    .ant-checkbox-checked .ant-checkbox-inner:focus {
      border: 2px solid var(--Linear, var(--icon-grad-1)) !important ;
    }
  }
}
.popupModal-dark {
  .ant-slider-rail {
    background: var(--not-active);
  }
  .ant-slider-mark-text {
    color: inherit !important;
  }
}
// .App-dark,
// .popupModal-dark {
//   .checkbox {
//     .ant-radio-checked .ant-radio-inner,
//     .ant-checkbox-checked .ant-checkbox-inner {
//       border-color: var(--selection-color) !important ;
//       background-color: var(--selection-color) !important;
//     }
//     .ant-radio:hover .ant-radio-inner,
//     .ant-checkbox:hover .ant-checkbox-inner,
//     .ant-checkbox-checked:after {
//       border-color: var(--selection-color) !important;
//     }
//     .ant-radio-checked .ant-radio-inner:focus,
//     .ant-checkbox-checked .ant-checkbox-inner:focus {
//       border-color: var(--selection-color) !important;
//     }
//   }
// }

/* Accordion */
.ant-collapse-header {
  flex-direction: row-reverse;
  text-align: left;
  font-weight: 600;
}
.accordion-body {
  padding: 1em 0 !important;
}
.accordion-item,
.accordion-header,
.accordion-button {
  background: transparent;
  border: none !important;
  box-shadow: none !important;
}
.accordion-button {
  padding: 0;
  background: transparent !important;
}
.Accordion {
  .accordion-button::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000000'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
  }
}
.Accordion-dark {
  .accordion-button::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
  }
}

/*Toast*/
.toast-dark {
  .ant-notification-notice-message {
    color: white !important;
  }
  .ant-notification-notice-description {
    color: white !important;
  }
}

/*ProgressBar*/
.progress-dark {
  .ant-progress-text {
    color: white !important;
  }
}

/* Switch */
.ant-switch-dark {
  background: #8c8c8c !important;
}
.ant-switch:hover:not(.ant-switch-disabled),
.ant-switch-dark:hover:not(.ant-switch-dark-disabled) {
  background: #8c8c8c !important;
}

.ant-switch-checked,
.ant-switch-dark-checked {
  .ant-switch-inner,
  .ant-switch-dark-inner {
    background: var(--selection-color) !important;
  }
}

.ant-switch-inner-checked,
.ant-switch-inner-unchecked,
.ant-switch-dark-inner-checked,
.ant-switch-dark-inner-unchecked {
  img {
    width: 15px;
    height: 15px;
    margin-top: 2px;
    filter: brightness(0) invert(1);
  }
}
