.zinzen-menu-choice-light1 {
    color: #000000;
    font-weight: bolder !important;
    font-size: 1.8rem !important;
    width: 75% !important;
    margin-left: 3.7em;
    margin-top: 3em !important;
    margin-bottom: 1.2em;
    text-align: left !important;
    border-radius: 10px 10px !important;
    padding-top: 0.6em !important;
    padding-bottom: 0.6em !important;
}

.zinzen-menu-choice-dark1 {
    color: #ffffff !important;
    font-weight: bolder !important;
    font-size: 1.8rem !important;
    width: 75% !important;
    margin-left: 3.7em;
    margin-top: 3em !important;
    margin-bottom: 1.2em;
    text-align: left !important;
    border-radius: 10px !important;
    padding-top: 0.6em !important;
    padding-bottom: 0.6em !important;
}

.zinzen-menu-choice-light {
    color: #000000 !important;
    font-weight: bolder !important;
    font-size: 1.8rem !important;
    width: 75% !important;
    margin-left: 3.7em;
    margin-bottom: 1.2em !important;
    text-align: left !important;
    border-radius: 10px !important;
    padding-top: 0.6em !important;
    padding-bottom: 0.6em !important;
}

.zinzen-menu-choice-dark {
    color: #ffffff !important;
    font-weight: bolder !important;
    font-size: 1.8rem !important;
    width: 75% !important;
    margin-left: 3.7em;
    margin-bottom: 1.2em !important;
    text-align: left !important;
    border-radius: 10px !important;
    padding-top: 0.6em !important;
    padding-bottom: 0.6em !important;
}

/*Media Query for Mobile View*/

@media (max-width: 600px){

    /*ZinZen Menu*/
    .zinzen-menu-choice-light1{
        font-size: 1.4rem !important;
        width: 100% !important;
        margin-left: 0em;
        margin-bottom: 1.2em;
        text-align: left !important;
        border-radius: 10px !important;
        padding-top: 0.6em !important;
        padding-bottom: 0.6em !important;
    }
    
    .zinzen-menu-choice-dark1{
        font-size: 1.4rem !important;
        width: 100% !important;
        margin-bottom: 1.2em;
        margin-left: 0em;
        text-align: left !important;
        border-radius: 10px !important;
        padding-top: 0.6em !important;
        padding-bottom: 0.6em !important;
    }
    
    .zinzen-menu-choice-light{
        font-weight: bolder !important;
        font-size: 1.4rem !important;
        width: 100% !important;
        margin-bottom: 1.2em !important;
        margin-left: 0em;
        text-align: left !important;
        border-radius: 10px !important;
        padding-top: 0.6em !important;
        padding-bottom: 0.6em !important;
    }
    
    .zinzen-menu-choice-dark{
        font-weight: bolder !important;
        font-size: 1.4rem !important;
        width: 100% !important;
        margin-bottom: 1.2em !important;
        margin-left: 0em;
        text-align: left !important;
        border-radius:10px !important;
        padding-top: 0.6em !important;
        padding-bottom: 0.6em !important;
    }
    

}