.query-choice-light {
    width: 80% !important;
    font-weight: bolder !important;
    font-size: 1.5em !important;
    text-align: left !important;
    padding: 1.3em 1em 1.3em 1em !important;
    margin: 0% auto 40% auto;
    display:block;
    height: auto;

}

.query-choice-dark {
    width: 80% !important;
    font-weight: bolder !important;
    font-size: 1.5em !important;
    text-align: left !important;
    padding: 1.3em 1em 1.3em 1em !important;
    margin: 0% auto 40% auto;
    display:block;
    height: auto;
}

.query-choice-light1 {
    width: 80% !important;
    font-weight: bolder !important;
    font-size: 1.5em !important;
    text-align: left !important;
    padding: 1.3em 1.1em 1.3em 1.1em !important;
    margin: 10% auto 10% auto !important;
    display:block;
    height: auto;

}

.query-choice-dark1 {
    width: 80% !important;
    font-weight: bolder !important;
    font-size: 1.5em !important;
    text-align: left !important;
    padding: 1.3em 1.1em 1.3em 1.1em !important;
    margin: 10% auto 20% auto !important;
    display:block;
    height: auto;
}

.zinzen-text-logo-nav-landing-page-query {
    display:none;
}

.zinzen-logo-nav-landing-page-query {
    display:none;
}

.left-panel-font1-query {
    color: #3B6899;
    font-weight: bolder;
    font-size: 2vw;
    text-align: center;
    margin-top: 0em !important;
}

.left-panel-font2-query {
    color: #AC3B61;
    font-style: italic;
    font-weight: bolder;
    font-size: 2vw;
    text-align: center;
}

/*Media Query for Mobile View*/

@media (max-width: 600px){

    /*Navbar*/

    .zinzen-logo-nav-landing-page-query{
        width:10%;
        visibility: visible;
    }

    .zinzen-text-logo-nav-landing-page-query{
        margin-right: 10em;
        width:25%;
        visibility: visible;
    }


    /*Info panel text*/

    .left-panel-font1-query {
        color: #3B6899;
        font-weight: bolder;
        font-size: 5.3vw;
        text-align: center;
        margin-top: 0em !important;
    }
    
    .left-panel-font2-query {
        color: #AC3B61;
        font-style: italic;
        font-weight: bolder;
        font-size: 5.3vw;
        text-align: center;
    }

    .btn-primary-learnmore {
        display:none;
    }
}