/* My Feelings Page*/

.my-feelings-font-light {
  padding: 0em 0em 0em 1em !important;
  font-style: italic;
  font-weight: bolder;
}

.my-feelings-font-dark {
  color: #cecece;
  padding: 0em 0em 0em 1em !important;
  font-style: italic;
  font-weight: bolder;
}

.feelings-title {
  font-weight: bolder !important;
  margin-top: 1em;
}

.menu-list {
  display: flex;
  flex-direction: column;
}

.btn-my-feelings-light {
  margin-top: 0.5em;
  margin-right: 0.5em;
  margin-left: 0em;
  border: 2px solid #edc7b7 !important;
  background-color: #f0e6e1 !important;
  color: black !important;
  padding: 0.5em 1em 0.5em 1em !important;
  font-weight: bolder !important;
  font-size: 1.2em !important;
  cursor: pointer !important;
}

.btn-feelings-light {
  border-color: #edc7b7 !important;
  color: #7e7e7e !important;
  font-weight: bolder !important;
}

.btn-feelings-light:hover {
  background-color: #edc7b7 !important;
  font-weight: bolder !important;
  color: white !important;
}

.btn-my-feelings-dark {
  margin-top: 0.5em;
  margin-right: 0.5em;
  margin-left: 0em;
  border: 2px solid #edc7b7 !important;
  background-color: #121212 !important;
  color: black !important;
  padding: 0.5em 1em 0.5em 1em !important;
  font-weight: bolder !important;
  font-size: 1.2em !important;
  cursor: pointer !important;
}

.btn-feelings-dark {
  border-color: #443027 !important;
  color: #cecece !important;
  font-weight: bolder !important;
}

.btn-feelings-dark:hover {
  background-color: #443027 !important;
  font-weight: bolder !important;
  color: white !important;
}

.feelings-menu-mobile {
  display: none;
}

/*Media Query for Mobile View*/

@media (max-width: 600px) {
  .feelings-menu-desktop {
    display: none;
  }
  .feelings-menu-mobile {
    display: block;
  }
  .feelings-name {
    padding: 0.3em 0em 0.3em 0.5em !important;
  }
  .feelings-title-mobile {
    font-weight: bolder;
    padding-top: 0.5em;
  }
  .feelings-expand-btw{
    border-left: 2px solid #EDC7B7;
    padding: 1.5% 5%;
  }
  .feeling-mobile{
    display: flex;
    background-color: #f0e6e1 !important;
  }
  .feelings-title-light {
    border: 2px solid #EDC7B7;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    color: #000000 !important;
    font-weight: bolder;
    background-color: #f0e6e1 !important;
    font-size: 1.5em;
    // padding: 1em 1.5em 1em 1.5em !important;
    width: 100%;
    text-align: left !important;
  }

  .feelings-title-dark {
    border: 2px solid #EDC7B7;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    color: #ffffff !important;
    font-weight: bolder;
    background-color: #443027 !important;
    font-size: 1.5em;
    // padding: 1em 1.5em 1em 1.5em !important;
    width: 100%;
    text-align: left !important;
  }
}

.add-feelings {
  &__container {
    margin: 50px 0 0 0;
    padding-bottom: 50px;
  }
}
