.addFeelings-title, .addFeelings-title-dark {
    font-size: 1.286em;
    font-weight: 700;
}
.feelings-category, .feelings-category-dark {
    background: rgba(246, 246, 246, 0.4);
    border: 2px solid #EDC7B7;
    border-radius: 10px;
    display: flex;
    margin-top: 20px;
    position: relative;
    button:first-child {
        color: black;
        padding: 4% 7%;
        background: transparent;
        font-size: 1.286em;
        font-weight: 700;
        border: none;
        width: 80%;
        text-align: left;
        border-right: 2px solid #EDC7B7;
    }
    button:last-child {
        color: black;
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        border: none;
    }
}

.feelings-category-dark {
    background: rgba(57, 57, 57, 0.4);
    button {
        color: white !important;
    }
}

#feeling-modal-body, #feeling-modal-body-dark {
    background: #FFEBEB;
    border-radius: 10px;
    padding: 25px;
    .heading {
        font-size: 1em;
        font-weight: 700;
    }
    p {
      margin: 16px 0 0 0;
      font-style: italic;
      font-weight: 600;
    }
    input {
      background: #EEB8A7 !important;
      border-radius: 7px !important;
      border: none;
      padding: 11px 14px;
      margin-top: 16px;
      width: 100%;
    }

    button {
      border: none;
      color: #454545;
      background: transparent;
      border: 1px solid #EEB8A7;
      border-radius: 7px;
      padding: 7px 20px;
      margin-right: 20px;
      margin-top: 11px;
      font-weight: 600;
    }
}

#feeling-modal-body-dark {
    background: #121212;
    input {
        background: #343434 !important;
        color: white !important;
    }
    button {
        color: white;
        border: 1px solid #9984E4;
    }
}

#feelingOptions {
    .feelingOption-selected {
        background: #EEB8A7;
    }
}
#feelingOptions-dark {
    .feelingOption-selected {
        background: #343434;
    }
}
