.ant-breadcrumb + .ant-breadcrumb-item::before {
  content: var(--bs-breadcrumb-divider, ">") !important;
}
.sublist-container,
.sublist-content {
  max-width: 600px;
  min-width: 236px;
  width: 100%;
  padding-top: 10;
}

.sublist-title {
  margin-left: -10px;
  font-style: italic;
  cursor: default;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}

.sublist-list-container {
  margin-top: 10px;
  padding: 0 !important;
}

.sublist-content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .goal-item-summary-wrapper {
    margin: 10px auto;
    text-align: center;
    padding: 0 24px;
  }

  .mygoalsbutton-dark,
  .mygoalsbutton-light {
    display: none;
  }

  .todo-form {
    margin-bottom: 24px !important;
  }
}

.ant-breadcrumb > ol {
  align-items: center;
}
