.error-heading {
  padding-top: 1.5em;
  margin-left: 0.4em;
  color: #3b6899;
  font-weight: bolder;
  font-size: 4em;
}

.error-text {
  padding-bottom: 0.2em;
  margin-left: 0.9em;
  color: #ac3b61;
  font-style: italic;
  font-weight: bolder;
  font-size: 2em;
}

.error-btn-dark {
  
  font-weight: bolder !important;
  font-size: 1.4rem !important;
  margin-left: 1.4em;
  margin-left: 1.4em !important;
}

.error-btn-light {
  
  font-weight: bolder !important;
  font-size: 1.4rem !important;
  margin-top: 0.3em;
  margin-left: 1.4em;
}
